<div [@routerTransition]>
    <app-page-header [heading]="'documents.header'" [icon]="'fa-book'"></app-page-header>
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <td>Organisation</td>
                            <td>{{document.organisation}}</td>
                        </tr>
                        <tr>
                            <td>Receiver</td>
                            <td>{{document.receiver}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{document.status}}</td>
                        </tr>
                        <tr>
                            <td>LastError</td>
                            <td>{{document.lastError}}</td>
                        </tr>
                        <tr>
                            <td>DocumentType</td>
                            <td>{{document.documentType}}</td>
                        </tr>
                        <tr>
                            <td>IngoingFormat</td>
                            <td>{{document.ingoingFormat}}</td>
                        </tr>
                        <tr>
                            <td>Received</td>
                            <td>{{document.received}}</td>
                        </tr>
                        <tr>
                            <td>Issued</td>
                            <td>{{document.issued}}</td>
                        </tr>
                        <tr>
                            <td>SenderName</td>
                            <td>{{document.senderName}}</td>
                        </tr>
                        <tr>
                            <td>ReceiverName</td>
                            <td>{{document.receiverName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>