<div [@routerTransition]>
    <app-page-header [heading]="'documents.header.details'" [icon]="'fa-file-text-o'" [headers]="pageHeaders"></app-page-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="card">
                    <div class="card-header"><strong>{{ document.organisation | uppercase }}</strong></div>
                    <br>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Receiver</td>
                                <td>{{document.receiver}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{document.status}}</td>
                            </tr>
                            <tr>
                                <td>Last Error</td>
                                <td>{{document.lastError}}</td>
                            </tr>
                            <tr>
                                <td>Document Type</td>
                                <td>{{document.documentType}}</td>
                            </tr>
                            <tr>
                                <td>Ingoing Format</td>
                                <td>{{document.ingoingFormat}}</td>
                            </tr>
                            <tr>
                                <td>Received</td>
                                <td>{{document.received}}</td>
                            </tr>
                            <tr>
                                <td>Issued</td>
                                <td>{{document.issued}}</td>
                            </tr>
                            <tr>
                                <td>Sender Name</td>
                                <td>{{document.senderName}}</td>
                            </tr>
                            <tr>
                                <td>Receiver Name</td>
                                <td>{{document.receiverName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
