<mat-toolbar color="primary">
  <button type="button" mat-icon-button class="visible-md" (click)="onToggleSidenav()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div>
    <a [routerLink]="['']">DELIS</a>
  </div>

  <div fxFlex fxLayout dir="ltr" fxFlexOffset="5" fxHide.xs>
    <ul fxLayout fxLayoutGap="1em" class="navigation-items">
      <li><a [routerLink]="['/document']" [routerLinkActive]="['active']">{{ 'sidebar.received.documents' | translate }}</a></li>
      <li><a [routerLink]="['/send-document']" [routerLinkActive]="['active']">{{ 'sidebar.send.documents' | translate }}</a></li>
      <li><a [routerLink]="['/identifier']" [routerLinkActive]="['active']">{{ 'sidebar.identifier' | translate }}</a></li>
    </ul>
  </div>

  <span class="nav-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="language">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #language="matMenu" xPosition="before">
    <button mat-menu-item (click)="changeLang('en')">
      <span>{{ 'header.language.english' | translate }}</span>
      <mat-icon *ngIf="lang == 'en'" class="check-header-language">check_circle</mat-icon>
    </button>
    <button mat-menu-item (click)="changeLang('da')">
      <span>{{ 'header.language.danish' | translate }}</span>
      <mat-icon *ngIf="lang == 'da'" class="check-header-language">check_circle</mat-icon>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu" xPosition="before">
    <table class="profile-info">
      <tr>
        <td><strong>{{ 'profile.menu.role' | translate }}</strong></td>
        <td>{{ currentUser.role | translate }}</td>
      </tr>
      <tr>
        <td><strong>{{ 'profile.menu.loginName' | translate }}</strong></td>
        <td>{{ currentUser.username }}</td>
      </tr>
      <tr *ngIf="currentUser.firstName !== null">
        <td><strong>{{ 'profile.menu.firstName' | translate }}</strong></td>
        <td>{{ currentUser.firstName }}</td>
      </tr>
      <tr *ngIf="currentUser.lastName !== null">
        <td><strong>{{ 'profile.menu.lastName' | translate }}</strong></td>
        <td>{{ currentUser.lastName }}</td>
      </tr>
      <tr *ngIf="currentUser.role === 'ROLE_USER'">
        <td><strong>{{ 'profile.menu.organisation' | translate }}</strong></td>
        <td>{{ currentUser.organisation }}</td>
      </tr>
      <tr>
        <td><strong>{{ 'profile.menu.loginTime' | translate }}</strong></td>
        <td>{{ currentUser.lastLoginTime | date: SHOW_DATE_FORMAT }}</td>
      </tr>
    </table>
  </mat-menu>
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
