<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

	<h3 class="my-3">Welcome to Delis <sup>1.0</sup></h3>
	
	<div class="row">
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/document/list', ${documentStat.documentLoadedCount}, 'Documents Loaded', 'oi-comment-square', 'bg-warning')}"></div>
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/document/list', ${documentStat.documentDeliveredCount}, 'Documents Delivered', 'oi-comment-square', 'bg-success')}"></div>
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/document/list', ${documentStat.documentValidatedCount}, 'Documents Validated', 'oi-comment-square', 'bg-success')}"></div>
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/document/list', ${documentStat.documentFailedCount}, 'Documents Failed', 'oi-comment-square', 'bg-danger')}"></div>
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/identifier/list', ${identifierPendingCount}, 'Identifiers Pending', 'oi-comment-square', 'bg-secondary')}"></div>
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/identifier/list', ${identifierFailedCount}, 'Identifiers Failed', 'oi-comment-square', 'bg-danger')}"></div>
		<div th:replace="~{fragments/card-counter :: card-counter (~{::body}, '/organisation/list', ${organisationCount}, 'Organisations', 'oi-comment-square', 'bg-secondary')}"></div>
	</div>

	<script>
		function cardClicked(element) {
			var dashboardLink = $(element).find('a.dashboard-link');
			if (dashboardLink.length > 0) {
				window.location.href = dashboardLink.attr("href");
			}
			return false;
		}
	</script>

</body>
</html>