<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Organisations
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Name</th>
					<th>Code</th>
					<th>Identifiers</th>
				</tr>
				<tr th:each="r,iter : ${organisationList}">
					<td><a href="#" th:href="@{/organisation/view/__${r.id}__}" th:text="${r.name}"></a></td>
					<td th:text="${r.code}"></td>
					<td>
						<span title="Total" th:text="${orgStatMap.get(r.id).total}">10</span> = 
						<span title="Published active" th:text="${orgStatMap.get(r.id).activeDone}">5</span> +
						<span title="Pending active" th:text="${orgStatMap.get(r.id).activePending}">3</span> +
						<span title="Pending deletion" th:text="${orgStatMap.get(r.id).disabledPending}">1</span> +
						<span title="Failed" th:text="${orgStatMap.get(r.id).failed}">1</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/organisation/create}" class="btn btn-primary">Create new</a>
		</div>
		
	</div>
</body>
</html>