<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}"
	>
<head>
</head>
<body>
<div class="col-6 offset-3">

	<th:block th:if="${param.error}">
		<div class="text-danger mb-2">
		<th:block th:switch="${param.error.get(0)}">
			<span th:case="'user'">You have no access to DELIS Setup Cockpit, please login to main DELIS web interface.</span>
			<span th:case="*">Invalid username and password.</span>
		</th:block>
		</div>
	</th:block>	

	<div th:if="${param.logout}" class="text-success mb-2">You have been logged out.</div>
	
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">Login</div>
		<div class="card-body">
			
			<form th:action="@{/j_spring_security_check}" method="post">
				<div class="form-group row">
					<label for="username" class="col-sm-4 col-form-label">Login name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="username"  autofocus="autofocus" id="username"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-4 col-form-label">Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" name="password" id="password" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Sign In</button>
			</form>
		</div>
	</div>
</div>

</body>
</html>