@import "~@ng-select/ng-select/themes/default.theme.css";

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.ng-dropdown-panel {
  width: auto !important;
  min-width: 100%;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #343a40;
}

.btn-sm:hover, .btn-sm:focus, .btn-sm:active {
  box-shadow: none !important;
}

.btn-sm {
  width: 100% !important;
}

.btn-sort {
  vertical-align: middle !important;
  min-width: 100% !important;
  white-space: nowrap !important;
}

.card .card-header {
  text-align: center !important;
}
