<div class="row">
    <div class="col col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                {{ 'dashboard.charts.header' | translate | uppercase }}
            </div>
            <div class="card-body">
                <canvas baseChart height="100"
                        [datasets]="chartDocumentModel.lineChartData"
                        [labels]="chartDocumentModel.lineChartLabels"
                        [options]="chartDocumentModel.lineChartOptions"
                        [colors]="chartDocumentModel.lineChartColors"
                        [legend]="chartDocumentModel.lineChartLegend"
                        [chartType]="chartDocumentModel.lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>
