<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Document sending
		</div>
		<div class="card-body">
			<form action="#" th:action="@{/document/send/updatestatuses}" th:object="${selectedIdList}" method="post">
			<table id="customDataTable" class="table table-striped table-bordered table-sm customDataTable" data-th-attr="page-data-container=${T(dk.erst.delis.web.json.JsonGenerator).genJson(pageDataContainer)}">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="selectAll checkbox" name="selectAll" id="selectAll" />
                    </th>
                    <th>Created</th>
                    <th>Organisation</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Status</th>
                    <th>Document Type</th>
                    <th>Delivered</th>
                </tr>
                </thead>
               <tbody>
               <tr th:each="r,iter : ${sendDocumentsList}">
                   <td><input type="checkbox" th:field="*{idList}" th:value="${r.id}" class="selectItem checkbox" name="selectItem" id="selectItem"/></td>
                   <td>
                       <a href="#" th:href="@{/document/send/view/__${r.id}__}" th:text="${#dates.format(r.createTime, 'yyyy-MM-dd HH:mm:ss')}">2018-10-12 10:43:22</a>
                   </td>
                   <td>
                       <a th:if="${r.organisation}" href="#" th:href="@{/organisation/view/__${r.organisation.id}__}" th:text="${r.organisation.name}">Region Nord</a>
                   </td>
                   <td>
                       <span th:text="${r.senderIdRaw}">0088:234234234</span>
                   </td>
                   <td>
                       <span th:text="${r.receiverIdRaw}">0088:234234234</span>
                   </td>
                   <td th:text="${r.documentStatus.getName()}">LOAD_OK</td>
                   <td th:text="${r.documentType.getName()}">INVOICE</td>
                   <td th:text="${r.deliveredTime}"><span th:text="${#dates.format(r.createTime, 'yyyy-MM-dd HH:mm:ss')}">2018-10-12 10:43:22</span></td>
               </tr>
               </tbody>
			</table>
			<div class="card-footer mt-2">
				<div class="d-flex justify-content-start">
					<label class="m-2 col-form-label">Status:</label>
					<select th:field="*{status}" class="m-2">
						<option th:each="documentStatus : ${statusList}" th:text="${documentStatus.getName()}" th:value="${documentStatus}"></option>
					</select>
					<button type="submit" class="m-2 btn btn-primary">Update Statuses</button>
				</div>
			</div>
			</form>
		</div>

	</div>

	<div class="card">
		<div class="card-header bg-primary text-white">
			Upload document
		</div>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data" action="/document/send/upload" th:action="@{/document/send/upload}">
				<div class="form-group">
					<label for="file1">File:</label>
					<input type="file" name="file" class="form-control-file" id="file1" />
				</div>
				<div class="form-check mb-2">
					<input type="checkbox" name="validateImmediately" class="form-check-input" id="validateImmediately" th:checked="true" readonly="readonly" />
					<label for="validateImmediately" class="form-check-label">Validate immediately</label>
				</div>
				<input class="btn btn-primary" type="submit" value="Upload" />
			</form>
		</div>
	</div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {

        	var d = document.getElementById('customDataTable');
        	console.log(d.getAttribute('page-data-container'));

			var pageDataContainer = [[${pageDataContainer}]];

			// console.log(pageDataContainer);

			var totalElements = pageDataContainer.totalElements;
			var page = pageDataContainer.page;
			var size = pageDataContainer.size;
			var totalPages = pageDataContainer.totalPages;
			var startPage = generateFrom(size, page, totalElements);
			var endPage = generateTo(size, page, totalElements);

			$('.customDataTable').DataTable({
				// dom: 't<""d-flex justify-content-between"><"p-2"ilp><"clear">',
				pageLength: size,
				searching: false,
				displayStart: startPage - 1,
				preDrawCallback: function(settings) {
					settings.oFeatures.bServerSide = "ssp";
					settings.bDestroying = true;
					settings.fnDisplayEnd = function() {
						return endPage;
					};
					settings.fnRecordsTotal = function() {
						return totalElements;
					};
					settings.fnRecordsDisplay = function() {
						return totalElements;
					};
				},
            });

			function generateFrom(size, page, totalElements) {
				if (totalElements === 0) {
					return 0;
				} else if (size > totalElements) {
					return 1;
				} else {
					return size * (page - 1) + 1;
				}
			}

			function generateTo(size, page, totalElements) {
				let lastSize = size * (page - 1) + size;
				if (lastSize <= totalElements) {
					return lastSize;
				} else {
					return totalElements;
				}
			}

			$('a.page-link').click( function () {
				var index = this.getAttribute("data-dt-idx");
				var page = 1;
				switch (index) {
					case "0": {
						page = 1;
					} break;
					case "1": {
						page = page - 1;
					} break;
					case "2": {
						page = page + 1;
					} break;
					case "3": {
						page = page + 1;
					} break;
				}
				window.location.replace('?page=' + page);
			} );
        });
    </script>
</body>
</html>
