@import "../../../../styles";

.icon-lg {
  font-size: 40px;
}

.mat-card {
  color: #fff;
  cursor: pointer;

  .mat-card-title {
    font-size: 40px !important;
  }
  .mat-card-subtitle {
    color: #fff;
    font-size: 1.1rem !important;
  }

  ::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: right;
    font-family: "IBM Plex Sans", "system", serif !important;
  }
}

.mat-card.danger {
  background: linear-gradient(60deg, #ff2e26, #ff7773);
  padding-bottom: 0px;
}

.mat-card.warn {
  background: linear-gradient(60deg, #fb8c00, #ffc107);
  padding-bottom: 0px;
}

.mat-card.info {
  background: linear-gradient(60deg, #007bff, #00acc1);
  padding-bottom: 0px;
}

.mat-card.light {
  background: #CAD6E0;
  padding-bottom: 0px;
}
