<button mat-button class="{{ bgClass }} button appStat" style="margin-top: 1em" [routerLink]="[router]">
  <mat-grid-list cols="4" rowHeight="7em">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div *ngIf="rotate; else elseBlock">
        <mat-icon class="rotate-180">{{ icon }}</mat-icon>
      </div>
      <ng-template #elseBlock>
        <mat-icon>{{ icon }}</mat-icon>
      </ng-template>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <table>
        <tr>
          <td style="text-align: right; padding-right: 2em"><h3>{{ count }}</h3></td>
        </tr>
        <strong>{{ label | translate }}</strong>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider [inset]="true"></mat-divider>
  <a [routerLink]="[router]" class="systemColor">
    <mat-grid-list cols="3" rowHeight="3em">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <span style="text-align: left">{{ 'dashboard.details' | translate }}</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-icon>input</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </a>
</button>

