@import "../../../../styles";

button {
  font-family: "IBMPlexSans", "system", serif !important;
}

.app-stat-text {
  font-weight: 100 !important;
  text-align: right !important;
  padding-right: 2em !important;
  font-size: 1.0rem !important;
}
