<div *ngIf="count === 0; else elseBlock">
  <mat-card [ngClass]="bgClass" class="disabled">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-lg">{{ icon }}</mat-icon>
      </div>
      <mat-card-title>{{ count }}</mat-card-title>
      <mat-card-subtitle>{{ label | translate }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<ng-template #elseBlock>
  <mat-card [ngClass]="bgClass" class="ptr" (click)="redirectDelisContent()" matRipple>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="icon-lg">{{ icon }}</mat-icon>
      </div>
      <mat-card-title>{{ count }}</mat-card-title>
      <mat-card-subtitle>{{ label | translate }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-template>
