<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (template=~{::body}, customTitle = ${customTitle})}"
>
<body>

<th:block th:if="${resultList}">
<div id="accordion">
	<div class="card border-secondary m-1" th:each="result,iter: ${resultList}">
		<div class="card-header" th:classappend="${'bg-'+ (result.processLog.success?'success':'light')}">
			<div class="cursor-pointer" data-toggle="collapse" th:attr="data-target=${'#result-'+iter.index},aria-controls=${'result-'+iter.index},id=${'result-header-'+iter.index}" aria-expanded="false"
			>
				<span class="badge badge-primary" th:text="${iter.index + 1}">9</span>  
				<span class="font-weight-bold" th:text="${result.fileName}"></span> (<span th:text="${result.fileSize}"></span> bytes)
				<span class="font-weight-bold" th:if="${result.documentFormatDetected}">detected</span> 
				as <span th:text="${result.documentFormat}"></span>
			</div>
		</div>
		<div class="card-body pb-0 collapse show" th:attr="id=${'result-'+iter.index}">
			<table class="table table-borderless table-sm">
				<tr>
					<th>Type</th>
					<th>Status</th>
					<th>Description</th>
					<th>Duration, ms</th>
				</tr>
				<th:block th:each="r,iter : ${result.processLog.stepList}">
				<tr>
					<td th:text="${r.stepType?.name}"></td>
					<td>
						<i th:if="${r.success}" class="fa fa-check-circle text-success"></i>
						<i th:if="${!r.success}" class="fa fa-exclamation-circle text-danger "></i>
					</td>
					<td th:text="${r.description}"/>
					<td th:text="${r.duration}"/>
				</tr>
				<tr th:unless="${#lists.isEmpty(r.errorRecords)}">
					<td colspan="5">
						
						<div class="alert alert-primary">Found <span class="badge badge-danger" th:text="${r.countError}">9</span> <span th:th:text="${r.countError > 1 ? 'errors':'error'}">errors</span> and <span class="badge badge-warning" th:text="${r.countWarning}">9</span> <span th:th:text="${r.countWarning > 1 ? 'warnings':'warning'}">warnings</span>
							<div class="btn btn-sm btn-warning" onclick="$('tr.error-flag-warning').toggle();">Toggle warnings</div>
						</div>
					
						<table class="table table-sm">
							<tr>
								<th>Flag</th>
								<th>Code</th>
								<th>Message</th>
								<th>Location</th>
							</tr>
							<tr th:each="errorDictionary : ${r.errorRecords}" th:attr="class='error-flag-'+${errorDictionary.flag}">
								<td> <span class="badge" th:classappend="${errorDictionary.isWarning()?'badge-warning':'badge-danger'}" th:text="${errorDictionary.flag}"></span>  </td>
								<td class="no-wrap" th:text="${errorDictionary.code}"></td>
								<td class="force-break-all" th:text="${errorDictionary.message}"></td>
								<td class="force-break-all" th:text="${#strings.abbreviate(errorDictionary.detailedLocation, 500)}"></td>
							</tr>
						</table>
					</td>
				</tr>
				</th:block>
			</table>
		</div>
	</div>
	
</div>    

</th:block>

    <div class="card">
        <div class="card-header bg-primary text-white">
            Validate XML files
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="/validate/upload" th:action="@{/validate/upload}" target="_blank">
                <div class="form-group row">
                    <label for="files1" class="col-sm-2">Files:</label>
                    <div class="col-sm-10">
                    	<input type="file" name="files" class="form-control-file" id="files1" multiple="multiple" accept=".xml"/>
						<small id="filesHelpBlock" class="form-text text-muted">
						  You can select more than one XML file by holding SHIFT or CTRL. 
						</small>                    	
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validateFormat" class="col-sm-2">Validate as format:</label>
                    <div class="col-sm-10">
	                    <select name="validateFormat" class="form-control">
	                    	<option value="">Autodetect by contents (select for SBDH too)</option>
	                    	<option th:each="f: ${formatList}" th:value="${f.name()}" th:text="${f.name}">BIS3 UBL</option>
	                    </select>
						<small id="filesHelpBlock" class="form-text text-muted">
						  Validation results will be opened in a new tab, so you can change the format to another one without need to select files again. 
						</small>                    	
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
    </div>
    
</body>
</html>
