<mat-card>
  <mat-card *ngIf="errorStatus">
    <strong style="color: red">{{ message | translate }}</strong>
  </mat-card>
  <br>
  <mat-card-title>{{ 'sidebar.home' | translate }}</mat-card-title>
  <mat-card-content>
    <form name="loginForm" #loginForm="ngForm" (ngSubmit)="login()">
      <p>
        <mat-form-field>
          <input matInput placeholder="{{ 'auth.username' | translate }}" name="username" [(ngModel)]="form.username" #username="ngModel" appAutofocus>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="{{ 'auth.password' | translate }}" name="password" [(ngModel)]="form.password">
        </mat-form-field>
      </p>
      <div class="button">
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">
          <mat-icon>input</mat-icon>
          <span> {{ 'auth.login' | translate }}</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
