<div [@routerTransition]>
  <app-page-header [heading]="'Errors Invoices'" [icon]="'fa-table'"></app-page-header>
  <br>
  <div class="container">
    <div class="row">
      <div class="col col-xl-10 col-lg-2">
        <div class="card mb-3">
          <div class="card-header">
            Show received Invoices
          </div>
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Status</th>
                <th>Invoice date</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Send</th>
              </tr>
              </thead>
              <tbody *ngFor="let error of errors">
              <tr>
                <th>{{error.statusMessage}}</th>
                <td>{{error.invoiceDate | date :  "dd.MM.y"}}</td>
                <td>{{error.sender}}</td>
                <td>{{error.receiver}}</td>
                <td>{{error.sendDate | date :  "dd.MM.y"}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
