<div [@routerTransition]>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-3">
            <app-stat
                    [bgClass]="'primary'"
                    [icon]="'fa fa-id-card'"
                    [count]="dashboardModel.identifierLastHour"
                    [label]="'dashboard.identifier'"
                    [router]="'/identifiers'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-3">
            <app-stat
                    [bgClass]="'warning'"
                    [icon]="'fa-book'"
                    [count]="dashboardModel.receivedDocumentsLastHour + '/' + dashboardModel.averageDocumentsLastHour"
                    [label]="'dashboard.documents'"
                    [router]="'/documents'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-3">
            <app-stat
                    [bgClass]="'danger'"
                    [icon]="'fa-bolt'"
                    [count]="dashboardModel.errorLastHour"
                    [label]="'dashboard.errors'"
                    [router]="'/documents/errors'"></app-stat>
        </div>
    </div>
    <hr>
    <!--<div class="row">-->
        <!--<div class="col-xl-4 col-lg-3">-->
            <!--<app-stat-->
                    <!--[bgClass]="'info'"-->
                    <!--[icon]="'fa-book'"-->
                    <!--[count]="dashboardModel.journalDocument"-->
                    <!--[label]="'sidebar.journal.document'"-->
                    <!--[router]="'/journal-documents'"></app-stat>-->
        <!--</div>-->
        <!--<div class="col-xl-4 col-lg-3">-->
            <!--<app-stat-->
                    <!--[bgClass]="'info'"-->
                    <!--[icon]="'fa-info'"-->
                    <!--[count]="dashboardModel.journalIdentifier"-->
                    <!--[label]="'sidebar.journal.identifier'"-->
                    <!--[router]="'/journal-identifiers'"></app-stat>-->
        <!--</div>-->
        <!--<div class="col-xl-4 col-lg-3">-->
            <!--<app-stat-->
                    <!--[bgClass]="'info'"-->
                    <!--[icon]="'fa-university'"-->
                    <!--[count]="dashboardModel.journalOrganisation"-->
                    <!--[label]="'sidebar.journal.organisation'"-->
                    <!--[router]="'/journal-organisations'"></app-stat>-->
        <!--</div>-->
    <!--</div>-->
    <app-dashboard-chart-document></app-dashboard-chart-document>
</div>
