<div class="container">
    <div class="row">
        <img src="assets/images/delis.png" class="center"/>
    </div>
</div>

<div [@routerTransition]>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-3">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="3" [label]="'dashboard.published'" [router]="'/publishing'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-3">
            <app-stat [bgClass]="'warning'" [icon]="'fa-book'" [count]="'125 / 136'" [label]="'dashboard.documents'" [router]="'/documents'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-3">
            <app-stat [bgClass]="'danger'" [icon]="'fa-bolt'" [count]="12" [label]="'dashboard.errors'" [router]="'/errors-invoices'"></app-stat>
        </div>
    </div>
    <hr>
    <app-dashboard-chart-document></app-dashboard-chart-document>
</div>
