<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-secondary">
		<div class="card-header">
			Users
		</div>
		<div class="card-body">
			<form action="#" th:action="@{/user/list}" method="post">
			<table class="table table-striped table-bordered table-sm datatables-easy"
				th:attr="dt-page=${@jsons.json(userPage)}"
				>
				<thead>
					<tr>
						<th dt-field="organisation.id" dt-orderfield="organisation.name" th:attr="dt-enum=${@jsons.json(organisationList)}">Organisation</th>
						<th dt-field="firstName">First name</th>
						<th dt-field="lastName">Last name</th>
						<th dt-field="username">Login name</th>
						<th dt-field="email">Email</th>
						<th dt-field="disabledIrForm" th:attr="dt-enum=${@jsons.json(shownHiddenStatusList)}">IR Form</th>
						<th dt-field="disabled" th:attr="dt-enum=${@jsons.json(userStatusList)}">Actions</th>
					</tr>
				</thead>
				<tr th:each="user,iter : ${userList}">
					<td>
						<a href="#" th:href="@{|/organisation/view/${user.organisation.id}|}" th:text="${user.organisation.name}" th:if="${user.organisation}"/>
						<span th:if="${user.organisation == null}">Administrator</span>
					</td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td class="" th:text="${user.username}" th:classappend="${user.disabled?'delis-deactivated':''}"></td>
					<td th:text="${user.email}"></td>

					<td th:text="${user.disabledIrForm != null && user.disabledIrForm ? 'Hidden': ''}"></td>
					
					<td class="no-wrap">
						<a href="#" class="mr-2" th:href="@{|/user/update/${user.id}|}" th:text="Update"></a>
						<a href="#" th:href="@{|/user/deactivate/${user.id}|}" th:if="${!user.disabled}" onclick="return confirm('Are you sure that you want to deactivate this user?')" th:text="Disable"></a>
						<a href="#" th:href="@{|/user/activate/${user.id}|}" th:if="${user.disabled}" onclick="return confirm('Are you sure that you want to activate this user?')" th:text="Activate"></a>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/user/create}" class="btn btn-primary">Create new</a>
		</div>
		
	</div>
</body>
</html>
