<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-secondary">
		<div class="card-header">
			Users
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Organisation</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Login name</th>
					<th>Email</th>
					<th>IR Form</th>
					<th>Actions</th>
				</tr>
				<tr th:each="user,iter : ${users}">
					<td>
						<a href="#" th:href="@{|/organisation/view/${user.organisation.id}|}" th:text="${user.organisation.name}" th:if="${user.organisation}"/>
						<span th:if="${user.organisation == null}">Administrator</span>
					</td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td class="" th:text="${user.username}" th:classappend="${user.disabled?'delis-deactivated':''}"></td>
					<td th:text="${user.email}"></td>

					<td th:text="${user.disabledIrForm != null && user.disabledIrForm ? 'Hidden': ''}"></td>
					
					<td>
						<a href="#" class="mr-2" th:href="@{|/user/update/${user.id}|}" th:text="Update"></a>
						<a href="#" th:href="@{|/user/deactivate/${user.id}|}" th:if="${!user.disabled}" onclick="return confirm('Are you sure that you want to deactivate this user?')" th:text="Deactivate"></a>
						<a href="#" th:href="@{|/user/activate/${user.id}|}" th:if="${user.disabled}" onclick="return confirm('Are you sure that you want to activate this user?')" th:text="Activate"></a>
					</td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/user/create}" class="btn btn-primary">Create new</a>
		</div>
		
	</div>
</body>
</html>
