<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}"
	>
<head>
</head>
<body>
<div class="col-lg-8 offset-lg-2 col-sm-12 col-md-10 offset-md-1">
	
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">Change password</div>
		<div class="card-body">
			
			<form th:action="@{/user/password}" method="post" th:object="${passwordForm}">
			
			<div th:replace="~{fragments/misc :: form-input-text-narrow (field='oldPassword', name='Old password', type='password')}"/>
			<div th:replace="~{fragments/misc :: form-input-text-narrow (field='password', name='New password', type='password')}"/>
			<div th:replace="~{fragments/misc :: form-input-text-narrow (field='password2', name='Confirmation', placeholder='Retype password', type='password')}"/>
			
			<button type="submit" class="btn btn-primary">Change password</button>
			</form>
		</div>
	</div>
</div>

</body>
</html>