<mat-card>

    <div class="example-container mat-elevation-z8">

        <app-delis-table-details-header
                [currentIds]="currentIds"
                [id]="documentId"
                [isNextDown]="isNextDown"
                [isNextUp]="isNextUp"
                [path]="DOCUMENT_PATH"
                [stateService]="stateService">
        </app-delis-table-details-header>

        <div class="table-details">
            <mat-card-content>
                <div *ngIf="errorOneDocument" class="table-details-error">
                    <app-error [errorModel]="errorOneDocumentModel"></app-error>
                </div>
            </mat-card-content>
            <mat-card-content>
                <h5 class="table-details-header">{{ 'documents.header.details' | translate}}</h5>
                <table>
                    <thead>
                    <tr>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.organisation' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.identifier' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.createTime' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.status' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-details-td">
                            <span *ngIf="document.organisation !== null">{{document.organisation.name}}</span>
                        </td>
                        <td class="table-details-td">
                            <span *ngIf="document.receiverIdentifier !== null">{{document.receiverIdentifier.name}}</span>
                        </td>
                        <td class="table-details-td">{{document.createTime | date: SHOW_DATE_FORMAT}}</td>
                        <td class="table-details-td">{{document.documentStatus}}</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.documentType' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.ingoingDocumentFormat' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.documentId' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.documentDate' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-details-td">{{document.documentType}}</td>
                        <td class="table-details-td">{{document.ingoingDocumentFormat}}</td>
                        <td class="table-details-td">{{document.documentId}}</td>
                        <td class="table-details-td">{{document.documentDate}}</td>
                    </tr>
					</tbody>
					<!--
                    <thead>
                    <tr>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.name' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.messageId' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-details-td">{{document.name}}</td>
                        <td class="table-details-td">{{document.messageId}}</td>
                    </tr>
					</tbody>
					-->
                </table>
            </mat-card-content>
            <mat-card-content>
                <div *ngIf="!errorOneDocument">
                    <app-invoice [documentId]="document.id" [effectiveDate]="document.documentDate"></app-invoice>
                </div>
            </mat-card-content>
            <mat-card-content>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.senderIdRaw' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.senderName' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.senderCountry' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="table-details-td">{{ 'documents.table.one.columnName.sender' | translate }}</th>
                        <td class="table-details-td">{{document.senderIdRaw}}</td>
                        <td class="table-details-td">{{document.senderName}}</td>
                        <td class="table-details-td">{{document.senderCountry}}</td>
                    </tr>
                    <tr>
                        <th class="table-details-td">{{ 'documents.table.one.columnName.receiver' | translate }}</th>
                        <td class="table-details-td">{{document.receiverIdRaw}}</td>
                        <td class="table-details-td">{{document.receiverName}}</td>
                        <td class="table-details-td">{{document.receiverCountry}}</td>
                    </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <mat-card-content>
                <div *ngIf="errorJournalDocuments" class="table-details-error">
                    <app-error [errorModel]="errorJournalDocumentsModel"></app-error>
                </div>
            </mat-card-content>
            <mat-card-content>
                <h5 class="table-details-header">{{ 'documents.table.one.columnName.journalRecords' | translate }}</h5>
                <table>
                    <thead>
                    <tr>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.journalRecords.createTime' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.journalRecords.type' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.journalRecords.success' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.journalRecords.message' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.journalRecords.durationMs' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let doc of journalDocuments">
                    <tr>
                        <td class="table-details-td">{{doc.createTime | date: SHOW_DATE_FORMAT}}</td>
                        <td class="table-details-td">{{doc.type}}</td>
                        <td class="table-details-td systemColorSuccess" *ngIf="doc.success">
                            <mat-icon>check_circle</mat-icon>
                        </td>
                        <td class="table-details-td systemColorError" *ngIf="!doc.success">
                            <mat-icon>error</mat-icon>
                        </td>
                        <td class="table-details-td">{{doc.message}}</td>
                        <td class="table-details-td" style="text-align: right !important;">{{doc.durationMs}}</td>
                    </tr>
                    <tr *ngIf="getErrorDictionaryModel(doc.id).length !== 0">
                        <td colspan="5">
                            <mat-card>
                                <table>
                                    <tr>
                                        <th class="table-details-th-error">{{ 'documents.table.one.columnName.journalDocumentErrors.flag' | translate }}</th>
                                        <th class="table-details-th-error">{{ 'documents.table.one.columnName.journalDocumentErrors.code' | translate }}</th>
                                        <th class="table-details-th-error">{{ 'documents.table.one.columnName.journalDocumentErrors.message' | translate }}</th>
                                        <th class="table-details-th-error">{{ 'documents.table.one.columnName.journalDocumentErrors.location' | translate }}</th>
                                    </tr>
                                    <tr *ngFor="let err of getErrorDictionaryModel(doc.id)">
                                        <td class="table-details-td-error">{{err.flag}}</td>
                                        <td class="table-details-td-error">{{err.code}}</td>
                                        <td class="table-details-td-error">{{err.message}}</td>
                                        <td class="table-details-td-error">{{err.location}}</td>
									</tr>
                                </table>
                            </mat-card>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <mat-card-content>
                <div *ngIf="errorDocumentBytes" class="table-details-error">
                    <app-error [errorModel]="errorDocumentBytesModel"></app-error>
                </div>
            </mat-card-content>
            <mat-card-content>
                <div *ngIf="errorDownload" class="table-details-error">
                    <app-error [errorModel]="errorDownloadModel"></app-error>
                </div>
            </mat-card-content>
            <mat-card-content>
                <h5 class="table-details-header">{{ 'documents.table.one.columnName.documentBytesModels' | translate }}</h5>
                <table>
                    <thead>
                    <tr>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.documentBytesModels.type' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.documentBytesModels.format' | translate }}</th>
                        <th class="table-details-th">{{ 'documents.table.one.columnName.documentBytesModels.size' | translate }}</th>
                        <th class="table-details-th">Download</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let doc of documentBytesModels">
                    <tr>
                        <td class="table-details-td">{{doc.type}}</td>
                        <td class="table-details-td">{{doc.format}}</td>
                        <td class="table-details-td text-right">{{doc.size}}</td>
                        <td class="table-details-td download-muted" (click)="download(doc.id)">Download</td>
                    </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </div>
    </div>
</mat-card>
