<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-secondary">
		<div class="card-header">
			<span th:if="${organisation.id == null}">Create new organisation</span>
			<span th:if="${organisation.id != null}">Edit organisation name</span>
		</div>
		<div class="card-body">

			<form method="post" action="#" th:action="@{/organisation/save}" th:object="${organisation}">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group row">
					<label for="filesRoot" class="col-sm-1 col-form-label">Name *:</label>
					<div class="col-sm-11">
						<input type="text" id="name" class="form-control" maxlength="120" th:field="*{name}" />
						<small class="form-text text-muted">
						  Should be unique and between 1 and 120 symbols length. 
						</small>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-1 col-form-label">Code *:</label>
					<div class="col-sm-11">
						<input type="text" class="form-control" th:field="*{code}" maxlength="30" />
						<small class="form-text text-muted">
						  Should be unique, between 4 and 30 symbols length and contain only small letters a-z or digits.
						</small>
						<small class="form-text text-muted">						
						   Organisation code cannot be changed after at least one document is received or sent.
						 </small>
					</div>
				</div>
				<a href="#" th:href="@{/organisation/list}" class="btn btn-secondary">Back</a>
				<button type="submit" class="btn btn-primary ml-2">Save</button>
			</form>

		</div>
		<script>
			$(document).ready(function(){
				$('#name').focus();
			});
		</script>
	</div>
</body>
</html>