<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div th:replace="~{fragments/org-menu :: org-menu (~{::body}, 'setup')}"></div>

	<div class="card my-2">
		<div class="card-header bg-primary text-white">
			Configuration
		</div>
		<div class="card-body">
			<form method="post" action="#" th:action="@{/organisation/setup-save/__${organisation.id}__}" th:object="${organisationSetupData}">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th style="width: 190px;">Receiving format</th>
					<td>
						<select th:field="*{receivingFormatRule}">
							<option th:each="rule : ${organisationReceivingFormatRuleList}" th:text="${rule.title}" th:value="${rule.code}">OIOUBL - convert everything to OIOUBL</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>SMP integration</th>
					<td>
						<select th:field="*{smpIntegrationPublish}" id="smpIntegration" onchange="return smpIntegrationChanged();">
							<option value="false" th:selected="${!organisationSetupData.smpIntegrationPublish}">Do not publish to SMP</option>
							<option value="true" th:selected="${organisationSetupData.smpIntegrationPublish}">Publish to configured SMP</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>SMP profiles</th>
					<td>
						<ul class="org-smp-setup">
							<li th:each="p : ${organisationSubscriptionProfileGroupList}">
								<input th:field="*{subscribeProfileSet}" th:id="${p.code}" th:value="${p.code}" th:name="${p.code}" type="checkbox" th:checked="${subscribeProfileSet?.contains(p)}"></input>
								<label th:for="${p.code}" th:text="${p.code}">CII</label>
								<ul>
									<li th:each="documentIdentifier: ${p.documentIdentifiers}"><label th:for="${p.code}" th:text="${documentIdentifier}">urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100::CrossIndustryInvoice##urn:cen.eu:en16931:2017#compliant#urn:fdc:peppol.eu:2017:poacc:billing:3.0::D16B</label></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>SMP AccessPoints</th>
					<td>
						<ul class="org-smp-setup">
							<li>
								AS2:
								<select th:field="*{as2}">
									<option value="" th:selected="${as2 == null}">No access point</option>
									<option th:each="point : ${as2AccessPointList}" th:text="${point.url}" th:value="${point.id}">---</option>
								</select>
							</li>
							<li>
								AS4:
								<select th:field="*{as4}">
									<option value="" th:selected="${as4 == null}">No access point</option>
									<option th:each="point : ${as4AccessPointList}" th:text="${point.url}" th:value="${point.id}">---</option>
								</select>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>Receiving method</th>
					<td>
						<select class="form-control form-control-sm" th:field="*{receivingMethod}">
							<option value="" th:selected="${receivingMethod == null}">Select method</option>
							<option th:each="rule : ${organisationReceivingMethodList}" th:text="${rule.title}" th:value="${rule.code}">File system</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Receiving method config</th>
					<td>
						<input type="text" class="form-control form-control-sm" th:value="${receivingMethodSetup}" placeholder="Path to resource" th:field="*{receivingMethodSetup}" th:errorclass="is-invalid"></input>
						<div th:replace="~{fragments/misc :: has-errors (field='receivingMethodSetup')}"></div>
						<div class="form-check">
							<input class="form-check-input" id="validatesetup1" name="validateReceivingSetup" type="checkbox" th:attrappend="checked=${validateReceivingSetup}?@{'checked'}"></input> 
							<label class="form-check-label" for="validatesetup1">Validate accessibility on save by uploading file and its deletion afterwards.</label>
						</div>					
					</td>
				</tr>
				<tr>
					<th>Receiving options</th>
					<td>
						<div class="pl-3">
						<div class="form-check">
							<input class="form-check-input" id="receiveoption1" th:field="*{receiveBothOIOUBLBIS3}" type="checkbox" th:errorclass="is-invalid"></input> 
							<label class="form-check-label" for="receiveoption1">Receive both OIOUBL and BIS3 (if ingoing format not OIOUBL) into different subfolders</label>
							<div th:replace="~{fragments/misc :: has-errors (field='receiveBothOIOUBLBIS3')}"></div>
						</div>
						<div class="form-check">
							<input class="form-check-input" id="receiveoption2" th:field="*{checkDeliveredConsumed}" type="checkbox"></input> 
							<label class="form-check-label" for="receiveoption2">Check that delivered files are collected</label>
						</div>
						<div class="form-group">
							<input class="form-control form-control-sm" style="width: 60px; display: inline;" id="receiveoption3" th:field="*{checkDeliveredAlertMins}" type="text" size="4" maxlength="4" th:errorclass="is-invalid"></input> 
							<div th:replace="~{fragments/misc :: has-errors (field='checkDeliveredAlertMins')}"></div>
							<label for="receiveoption3">Minutes since export to alert if delivered files are not collected</label>
						</div>
						</div>
					</td>
				</tr>
				<tr>
					<th>On receiving validation error</th>
						<td>
							<ul class="on-error-setup container">
								<li><input id="onerror1" th:field="*{generateInvoiceResponseOnError}" type="checkbox"></input> <label for="onerror1">Generate MessageLevelResponse and try sending back to sender</label></li>
								<li><input id="onerror2" th:field="*{sendUndeliverableInvoiceResponseToERST}" type="checkbox"></input> <label for="onerror2">Forward undeliverable InvoiceResponses and MessageLevelResponses to ERST</label></li>
								<li><input id="onerror3" th:field="*{sendAllInvoiceResponseToERST}" type="checkbox"></input> <label for="onerror3">Forward ALL InvoiceResponses and MessageLevelResponses to ERST <span class="text-danger">(NOT IMPLEMENTED)</span></label></li>
								<li><input id="onerror4" th:field="*{onErrorAutoSendEmailToSupplier}" type="checkbox"></input> <label for="onerror4">Automatically send email with error description</label></li>
								<div class="form-group row">
									<label for="onerror5" class="col-sm-2">Sender email:</label>
									<div class="col-sm-6">
										<input th:field="*{onErrorSenderEmailAddress}" class="form-control form-control-sm" th:errorclass="is-invalid" id="onerror5" type="text" size="30"></input>
										<div th:replace="~{fragments/misc :: has-errors (field='onErrorSenderEmailAddress')}"></div>
										<small class="form-text text-muted">
										  Email address, which will be used as FROM address in email notifications. Mandatory, if above checkbox is selected.
										</small>
									</div>
								</div>
								<div class="form-group row">
									<label for="onerror6" class="col-sm-2">Receiver email: </label>
									<div class="col-sm-6">
										<input th:field="*{onErrorReceiverEmailAddress}" class="form-control form-control-sm" th:errorclass="is-invalid" id="onerror6" type="text" size="60"></input>
										<div th:replace="~{fragments/misc :: has-errors (field='onErrorReceiverEmailAddress')}"></div>
										<small class="form-text text-muted">
										  Multiple email addresses can be specified, separated with semicolon ";". Mandatory, if above checkbox is selected.
										</small>
									</div>
								</div>
							</ul>
						</td>
					</tr>
				
			</table>
			
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
	
<script>
function smpIntegrationChanged(){
	var newValue = $('#smpIntegration').val();
	if (newValue == 'false') {
		return confirm('Are you sure, that you want to disable publishing to SMP? All active and published identifiers will be deleted from SMP.');
	}
	return true;
}	
</script>
	
</body>
</html>