<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

	<div th:replace="~{fragments/org-menu :: org-menu (~{::body}, 'identifiers')}"></div>

	<div class="card border-secondary">
		<div class="card-header">
			<span th:text="${organisation.name}">Organisation name</span>
			(<span th:text="${organisation.code}">Code</span>)
		</div>
		<div class="card-body" th:if="${stat}">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Identifiers</th>
					<th:block th:switch="${stat.isNoPublish()}">
						<th:block th:case="${true}">
							<th>Deleted</th>
						</th:block>
						<th:block th:case="${false}">
							<th>Active published</th>
							<th>Pending active</th>
							<th>Pending deletion</th>
							<th>Failed publishing</th>
						</th:block>
					</th:block>
				</tr>
				<tr>
					<td><a href="#" th:href="@{/identifier/list/__${organisation.id}__}" th:text="${stat.total}"></a></td>
					<th:block th:switch="${stat.isNoPublish()}">
						<th:block th:case="${true}">
							<td th:text="${stat.deleted}">7</td>
						</th:block>
						<th:block th:case="${false}">
							<td th:text="${stat.activeDone}">7</td>
							<td th:text="${stat.activePending}">1</td>
							<td th:text="${stat.disabledPending}">1</td>
							<td th:text="${stat.failed}">1</td>
						</th:block>
					</th:block>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/organisation/validate/__${organisation.id}__}" class="btn btn-sm btn-primary">Validate published data to SMP</a>
		</div>
	</div>
	
	<div class="card mt-2">
		<div class="card-header">
			Upload identifier list
		</div>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data" action="/organisation/upload/213" th:action="@{/organisation/upload/__${organisation.id}__}" class="row">
				<div class="col-3">
					<div class="font-weight-bold">CSV file:</div>
					<input type="file" name="file" class="form-control-file mt-2" id="file1" />
					<input class="btn btn-primary btn-sm mt-2" type="submit" value="Upload" />
					
					<div class="mt-2">
						<a th:href="@{/organisation/download/__${organisation.id}__}" class="btn btn-secondary btn-sm">Export</a>
					</div>
				</div>
				
				<div class="col-3">
					<strong>Example of csv file:</strong>
<pre>
Number;Name
00000116;Test Company 1
DK00000124;Test Company 2
0000000000017;Test GLN
3
</pre>
				</div>
				<div class="col-6">
					<strong>Format description:</strong>
					<ul>
					<li>Headers should include Number and Name</li>
					<li>Delimiter is semicolon.</li>
					<li>Last line should contain total number of identifiers.</li> 
					<li>Number can contain only valid GLN or CVR numbers.</li> 
					<li>In case of any mistake in format, import is discarded.</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
	
	<div class="card mt-2">
		<div class="card-header">
			Journal records
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Date</th>
					<th>Message</th>
					<th>Duration, ms</th>
				</tr>
				<tr th:each="r,iter : ${lastJournalList}">
					<td th:text="${r.createTime}"></td>
					<td th:text="${r.message}"></td>
					<td th:text="${r.durationMs}"/>
				</tr>
			</table>
		</div>
	</div>

	<div class="card mt-2">
		<div class="card-header">
			Synchronizations
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Date</th>
					<th>Message</th>
					<th>Duration, ms</th>
					<th>Total</th>
					<th>Equal</th>
					<th>Add</th>
					<th>Update</th>
					<th>Delete</th>
					<th>Failed</th>
				</tr>
				<tr th:each="r,iter : ${lastSyncFactList}">
					<td th:text="${r.createTime}"></td>
					<td th:text="${r.description}"></td>
					<td th:text="${r.durationMs}"/>
					<td th:text="${r.total}"/>
					<td th:text="${r.equal}"/>
					<td th:text="${r.add}"/>
					<td th:text="${r.update}"/>
					<td th:text="${r.delete}"/>
					<td th:text="${r.failed}"/>
				</tr>
			</table>
		</div>
	</div>
	
</body>
</html>