<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			<span th:text="${organisation.name}">Organisation name</span>
			(<span th:text="${organisation.code}">Code</span>)
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Identifiers total</th>
					<th>Active published</th>
					<th>Pending active</th>
					<th>Pending deletion</th>
					<th>Failed publishing</th>
				</tr>
				<tr>
					<td th:text="${stat.total}">10</td>
					<td th:text="${stat.activeDone}">7</td>
					<td th:text="${stat.activePending}">1</td>
					<td th:text="${stat.disabledPending}">1</td>
					<td th:text="${stat.failed}">1</td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/home}" class="btn btn-primary">Back</a>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header bg-primary text-white">
			Upload identifier list
		</div>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data" action="/organisation/upload/213" th:action="@{/organisation/upload/__${organisation.id}__}">
				<div class="form-group">
					<label for="file1">File:</label><input type="file" name="file" class="form-control-file" id="file1" />
				</div>
				<input class="btn btn-primary" type="submit" value="Upload" />
			</form>
		</div>
	</div>

	
</body>
</html>