<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

<h3 class="m-2 text-secondary"><a href="#" th:href="${@backs.get('/errordict/list')}" class="btn btn-outline-secondary" title="Back"><i class="fas fa-chevron-left"></i></a> 
	<a href="#" th:href="@{/errordict/view/__${errorDictionary.id}__(back=${@backs.get('/errordict/list')})}" class="btn btn-outline-secondary" title="Reload"><i class="fas fa-redo"></i></a>
	Error details</h3>        

<div class="">

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <table class="table table-sm table-borderless w-auto">
                <tr>
                    <th>Code</th>
                    <td>
                    	<span class="badge" th:classappend="${errorDictionary.isWarning()?'badge-warning':'badge-danger'}" th:text="${errorDictionary.flag}"></span>
                    	<span th:text="${errorDictionary.code}"/>
                    </td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td th:text="${errorDictionary.errorType?.name}"></td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td th:text="${errorDictionary.message}"></td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td th:text="${errorDictionary.location}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card border-secondary m-1">
    	<div class="card-header">
    	Statistics
    	</div>
        <div class="card-body pb-0">
            <table class="table table-sm table-borderless w-auto">
                <tr>
                    <th>Documents</th>
                    <td> <a th:href="@{/errordict/listdocument/__${errorDictionary.id}__}" th:text="${errorStat.count}">XXX</a></td>
                </tr>
                <tr>    
                    <th>First</th>
                    <td th:text="${#dates.format(errorStat.startDate, 'yyyy-MM-dd HH:mm:ss')}">2018-12-01
                        12:32:12
                    </td>
                </tr>
                <tr>    
                    <th>Last</th>
                    <td th:text="${#dates.format(errorStat.endDate, 'yyyy-MM-dd HH:mm:ss')}">2018-12-01 12:32:12
                    </td>
                </tr>
            </table>
       </div>
    </div>
    
    
</div>

</body>
</html>