<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

<h3 class="m-2 text-secondary"><a href="#" th:href="@{/errordict/list}" class="btn btn-outline-secondary"><i
        class="fas fa-chevron-left"></i></a><label th:text="${header}"></label></h3>

<div class="">

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <table class="table table-sm table-borderless">
                <tr>
                    <th>Error Type</th>
                    <th>ErrorCode</th>
                    <th>Flag</th>
                </tr>
                <tr>
                    <td th:text="${errorDictionary.errorType?.name}"></td>
                    <td th:text="${errorDictionary.code}"></td>
                    <td th:text="${errorDictionary.flag}"></td>
                </tr>
                <tr>
                    <th>Count</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                <tr>
                    <td th:text="${errorDictionary.count}">XXX</td>
                    <td th:text="${#dates.format(errorDictionary.startDate, 'yyyy-MM-dd HH:mm:ss')}">2018-12-01
                        12:32:12
                    </td>
                    <td th:text="${#dates.format(errorDictionary.endDate, 'yyyy-MM-dd HH:mm:ss')}">2018-12-01 12:32:12
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <table class="table table-sm table-borderless">
                <tr>
                    <th>Message</th>
                </tr>
                <tr>
                    <td th:text="${errorDictionary.message}"></td>
                </tr>
                <tr>
                    <th>Location</th>
                </tr>
                <tr>
                    <td th:text="${errorDictionary.location}"></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="card border-secondary m-1">
    <div class="card-body pb-1">
        <div class="d-flex justify-content-end">
            <a href="#" th:href="@{|/errordict/listdocument/${errorDictionary.id}|}" class="m-2 btn btn-primary btn-sm">See
                documents</a>
        </div>
    </div>
</div>

</body>
</html>