<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" th:fragment="dynamicSelect(selectId, selectName, valueList, fieldName, formText)">
	<div class="form-group col-5">
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" th:for="${__${fieldName}__Enabled1}">
					<input class="mr-2" type="checkbox" th:field="*{__${fieldName}__Enabled}" aria-label="Checkbox for following text input" th:if="${#strings.contains(',sca,scr,', selectId)}" onchange="checkboxChanged(this)">
					<th:block th:text="${selectName}">Status</th:block>
				</label>
			</div>
	 		<select th:field="*{__${fieldName}__}" th:attr="id=${selectId},name=${selectId}" th:inline="text" class="form-control" onchange="selectChanged(this)">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="col-7">
		<div>
			<small class="form-text text-muted" th:attr="id=${selectId+'Desc'}"></small>
		</div>							
		<div>
			<small class="form-text text-muted">
				<th:block th:replace="${formText}"/>
			</small>
		</div>
		<script>
			initSelect('[[${selectId}]]');
		</script>	
	</div>
</div>
</html>
