<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<div class="card border-primary">
    <div class="card-header bg-primary text-white">
        Documents
    </div>
    <div class="card-body">
        <!--<form method="POST" enctype="multipart/form-data" action="/document/list/filter" th:action="@{/document/list/filter}">-->
            <!--<table class="table form-group">-->
                <!--<tr>-->
                    <!--<th>Received</th>-->
                    <!--<th>Organisation</th>-->
                    <!--<th>Status</th>-->
                    <!--<th>Format</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<select class="form-control">-->
                            <!--<option>Today</option>-->
                            <!--<option>Last week</option>-->
                            <!--<option>Last month</option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<select class="form-control">-->
                            <!--<option>All</option>-->
                            <!--<option>Undefined</option>-->
                            <!--<option>Region Midt</option>-->
                            <!--<option>Region Nord</option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<select class="form-control">-->
                            <!--<option>All</option>-->
                            <!--<option>LOAD OK</option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<select class="form-control">-->
                            <!--<option>All</option>-->
                            <!--<option>CII</option>-->
                            <!--<option>BIS3</option>-->
                            <!--<option>OIOUBL</option>-->
                        <!--</select>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</form>-->

        <form action="#" th:action="@{/document/updatestatuses}" th:object="${selectedIdList}" method="post">
            <div class="container">
                <table id="documents" class="table">
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="selectAll checkbox" name="selectAll" id="selectAll" /></th>
                        <th>Received</th>
                        <th>Organisation</th>
                        <th>Receiver</th>
                        <th>Status</th>
                        <th>Ingoing Type</th>
                        <th>Ingoing Format</th>
                        <th>Sender</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-start">
                    <label class="m-2 col-form-label">Status:</label>
                    <select th:field="*{status}" class="m-2">
                        <option th:each="documentStatus : ${statusList}" th:text="${documentStatus}" th:value="${documentStatus}"></option>
                    </select>
                    <button type="submit" class="m-2 btn btn-primary">Update Statuses</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $('table#documents').DataTable({
            ajax: {
                contentType: 'application/json',
                url: '/delis/document/table',
                type: 'POST',
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            serverSide: true,
            columns: [
                {
                    data: 'id',
                    orderable: false,
                    searchable: false,
                    render: function (data) { return '<input type="checkbox" value="' + data + '" class="selectItem checkbox" name="idList" id="idList"/>'; }
                },
                {
                    data: 'createTime',
                    render: function (data) { return moment(data).format("YYYY-MM-dd HH:mm:ss"); }
                },
                {

                    data: 'organisation',
                    render: function (data) { return '<a href="/delis/organisation/view/' + data.id + '">' + data.name + '</a>'; }
                },
                {
                    data: 'receiverIdentifier',
                    render: function (data, type, row) { return '<a href="/delis/identifier/view/' + data.id + '">' + data.name + '</a><span>' + row["receiverIdRaw"] + '</span>'; }
                },
                {
                    data: 'documentStatus'
                },
                {
                    data: 'documentType'
                },
                {
                    data: 'ingoingDocumentFormat'
                },
                {
                    data: 'senderName'
                }
            ]
        });
    </script>
</div>

<div class="card">
    <div class="card-header bg-primary text-white">
        Upload document
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data" action="/document/upload" th:action="@{/document/upload}">
            <div class="form-group">
                <label for="file1">File:</label>
                <input type="file" name="file" class="form-control-file" id="file1" />
            </div>
            <div class="form-check mb-2">
                <input type="checkbox" name="validateImmediately" class="form-check-input" id="validateImmediately" />
                <label for="validateImmediately" class="form-check-label">Validate immediately</label>
            </div>
            <input class="btn btn-primary" type="submit" value="Upload" />
        </form>
    </div>
</div>

</body>
</html>