<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}"
>
<body>
<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">
        Documents
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/document/updatestatuses}" th:object="${selectedIdList}" method="post">
            <div class="container">
                <table class="table form-group">
                    <tr>
                        <th>Received</th>
                        <th>Organisation</th>
                        <th>Status</th>
                        <th>Format</th>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" id="receivedFilter">
                                <option>All</option>
                                <option>Today</option>
                                <option>Last week</option>
                                <option>Last month</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="orgFilter">
                        </td>
                        <td>
                            <select class="form-control"  id="statusSelector">
                                <option>All</option>
                                <option th:each="r : ${statusList}" th:text="${r.getName()}" th:value="${r}"></option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control"  id="formatSelector">
                                <option>All</option>
                                <option th:each="r : ${T(dk.erst.delis.data.enums.document.DocumentFormat).values()}" th:text="${r.getName()}" th:value="${r}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
                <table id="documents" class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="selectAll checkbox" name="selectAll" id="selectAll" /></th>
                        <th>Received</th>
                        <th>Organisation</th>
                        <th>Receiver</th>
                        <th>Status</th>
                        <th>Ingoing Type</th>
                        <th>Ingoing Format</th>
                        <th>Sender</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="card-footer mt-2">
                <div class="d-flex justify-content-start">
                    <label class="m-2 col-form-label">Status:</label>
                    <select th:field="*{status}" class="m-2">
                        <option th:each="documentStatus : ${statusList}" th:text="${documentStatus.getName()}"
                                th:value="${documentStatus}"></option>
                    </select>
                    <button type="submit" class="m-2 btn btn-primary">Update Statuses</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                console.log('dataIndex=' + dataIndex);
                return false;
            }
        );
        var table = $('table#documents').DataTable({

            ajax: {
                contentType: 'application/json',
                url: '[[@{/document/table}]]',
                type: 'POST',
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            order: [1, "desc"],
            serverSide: true,
            columns: [
                {
                    data: 'id',
                    orderable: false,
                    searchable: false,
                    render: function (data) { return '<input type="checkbox" value="' + data + '" class="selectItem checkbox" name="idList" />'; }
                },
                {
                    data: 'createTime',
                    render: function (data, type, row) { return generateRenderView(row, moment(data).format("YYYY-MM-DD HH:mm:ss"), null); }
                },
                {

                    data: 'organisation.name',
                    render: function (data, type, row) { return (row["organisation"] !== undefined) ? generateRenderView(row, data, null) : ''; }
                },
                {
                    data: 'receiverIdentifier.name',
                    render: function (data, type, row) { return (row["receiverIdentifier"] !== undefined) ? generateRenderView(row, data, row["receiverIdRaw"]) : ''; }
                },
                {
                    data: 'documentStatus'
                },
                {
                    data: 'documentType'
                },
                {
                    data: 'ingoingDocumentFormat'
                },
                {
                    data: 'senderName'
                }
            ]
        });

        function generateRenderView(row, aHrefText, spanText) {
            if (spanText !== null) {
                return '<a href="[[@{/document/view/}]]' + row["id"] + '">' + aHrefText + ' </a><span> ' + spanText + '</span>';
            } else {
                return '<a href="[[@{/document/view/}]]' + row["id"] + '">' + aHrefText + '</a>';
            }
        }

        // todo move two functions below to one place
        var onTextChange = function (value, column) {
            table.column(column).search(value).draw();
        };

        var onSelectChange = function(selector, column) {
            var filter = '';
            $('select#' + selector + ' option:selected').each(function() {
                filter += $(this).val() + "+";
                console.log('filter = ' + filter);
            });
            filter = filter.substring(0, filter.length - 1);
            if(filter == 'All') {
                filter = '';
            }
            table.column(column).search(filter).draw();
        };

        $('select#statusSelector').change(function(){onSelectChange('statusSelector', 4)});
        $('select#formatSelector').change(function(){onSelectChange('formatSelector', 6)});
        $('select#receivedFilter').change(function(){onSelectChange('receivedFilter', 1)});

        var orgInput = $('input#orgFilter');
        orgInput.on('input', function() {onTextChange(orgInput.val(), 2)});

    </script>

    <div class="card">
        <div class="card-header bg-primary text-white">
            Upload document
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="/document/upload" th:action="@{/document/upload}">
                <div class="form-group">
                    <label for="file1">File:</label>
                    <input type="file" name="file" class="form-control-file" id="file1"/>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" name="validateImmediately" class="form-check-input"
                           id="validateImmediately"/>
                    <label for="validateImmediately" class="form-check-label">Validate immediately</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
