<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Document details
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<td>Organisation</td>
					<td>
						<a th:if="${document.organisation}" href="#" th:href="@{/organisation/view/__${document.organisation.id}__}" th:text="${document.organisation.name}">Region Nord</a>					
					</td>
				</tr>
				<tr>
					<td>Identifier</td>
					<td>
						<a th:if="${document.receiverIdentifier}" href="#" th:href="@{/identifier/view/__${document.receiverIdentifier.id}__}" th:text="${document.receiverIdentifier.name}">Receiver name</a>
						<span th:text="${document.receiverIdRaw}">0088:234234234</span>
					</td>
				</tr>
				<tr>
					<td>Receive time</td>
					<td th:text="${document.createTime}">2018-12-01 12:32:12</td>
				</tr>
				<tr>
					<td>Name</td>
					<td th:text="${document.name}">XXX</td>
				</tr>
				<tr>
					<td>Status</td>
					<td th:text="${document.documentStatus}">LOADED</td>
				</tr>
				<tr>
					<td>Receiver id</td>
					<td th:text="${document.receiverIdRaw}">0088::2342342342</td>
				</tr>
				<tr>
					<td>Receiver name</td>
					<td th:text="${document.receiverName}">Region</td>
				</tr>
				<tr>
					<td>Receiver country</td>
					<td th:text="${document.receiverCountry}">DK</td>
				</tr>
				<tr>
					<td>Sender id</td>
					<td th:text="${document.senderIdRaw}">0088::2342342342</td>
				</tr>
				<tr>
					<td>Sender name</td>
					<td th:text="${document.senderName}">Region</td>
				</tr>
				<tr>
					<td>Sender country</td>
					<td th:text="${document.senderCountry}">DK</td>
				</tr>
				<tr>
					<td>Ingoing format</td>
					<td th:text="${document.ingoingDocumentFormat}">CII</td>
				</tr>
				<tr>
					<td>Ingoing type</td>
					<td th:text="${document.ingoingDocumentFormat?.documentType}">INVOICE</td>
				</tr>
				<tr>
					<td>Document ID</td>
					<td th:text="${document.documentId}">F-2345RWELF2</td>
				</tr>
				<tr>
					<td>Document date</td>
					<td th:text="${document.documentDate}">2018-13-23</td>
				</tr>
				<tr>
					<td>Message ID</td>
					<td th:text="${document.messageId}">BSD-332-32D2-2342-ABD3-353F</td>
				</tr>
				<tr>
					<td>Last validation error</td>
					<td th:text="${document.lastError}">OIOUBL_XSD</td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<form method="post" action="#" th:action="@{/document/updatestatus}" th:object="${document}">
				<div class="d-flex justify-content-end">
					<label class="m-2 col-form-label">Status:</label>
					<select th:field="*{documentStatus}" class="m-2">
						<option th:each="documentStatus : ${documentStatusList}" th:text="${documentStatus}" th:value="${documentStatus}"></option>
					</select>
					<button type="submit" class="m-2 btn btn-primary">Update Status</button>
					<input type="hidden" th:field="*{id}" class="form-control" th:value="${document.id}"/>
				</div>
			</form>
			<a href="#" th:href="@{/document/list}" class="btn btn-primary">Back to document list</a>
		</div>
		
	</div>
	
	<div class="card">
		<div class="card-header bg-primary text-white">
			Journal records
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Status</th>
					<th>Message</th>
					<th>Duration, ms</th>
				</tr>
				<tr th:each="r,iter : ${lastJournalList}">
					<td th:text="${#dates.format(r.createTime, 'yyyy-MM-dd HH:mm:ss')}" class="text-nowrap"></td>
					<td th:text="${r.type}"></td>
					<td>
						<i th:if="${r.success}" class="fa fa-check-circle text-success"></i>
						<i th:if="${!r.success}" class="fa fa-exclamation-circle text-danger "></i>
					</td>
					<td >
						<label th:text="${r.message}"/>
						<table th:if="${r.errors.size()} > 0" class="table table-striped table-sm">
							<tr>
								<th>Flag</th>
								<th>Code</th>
								<th>Message</th>
								<th>Location</th>
							</tr>
							<tr th:each="errorRecord : ${r.errors}">
								<td th:text="${errorRecord.errorDictionary.flag}"></td>
								<td th:text="${errorRecord.errorDictionary.code}"></td>
								<td th:text="${errorRecord.errorDictionary.message}"></td>
								<td th:text="${errorRecord.location}"></td>
							</tr>
						</table>
					</td>
					<td th:text="${r.durationMs}"/>
				</tr>
			</table>
		</div>
	</div>
	
</body>
</html>