<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>

	<h3 class="m-2 text-secondary"><a href="#" th:href="@{/document/list}" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i></a> Document details</h3>

	<div class="">

	<div class="card border-secondary m-1">
		<div class="card-body pb-0">
			<table class="table table-sm table-borderless">
				<tr>
					<th>Organisation</th>
					<th>Identifier</th>
					<th>Received</th>
					<th>Status</th>
				</tr>
				<tr>
					<td><a th:if="${document.organisation}" href="#" th:href="@{/organisation/view/__${document.organisation.id}__}" th:text="${document.organisation.name}">Region Nord</a></td>
					<td><a th:if="${document.receiverIdentifier}" href="#" th:href="@{/identifier/view/__${document.receiverIdentifier.id}__}" th:text="${document.receiverIdentifier.name}">Receiver name</a></td>
					<td th:text="${#dates.format(document.createTime, 'yyyy-MM-dd HH:mm:ss')}">2018-12-01 12:32:12</td>
					<td>
						<span th:text="${document.documentStatus}">LOADED</span>
						<th:block th:if="${document.lastError}">
							last error: 
							<span th:text="${document.lastError}" class="text-muted">OIOUBL_XSD</span>
						</th:block>
					</td>					
				</tr>
				<tr>
					<th>Document type</th>
					<th>Ingoing format</th>
					<th>Document Id</th>
					<th>Document date</th>
				</tr>
				<tr>
					<td th:text="${document.ingoingDocumentFormat?.documentType}">INVOICE</td>
					<td th:text="${document.ingoingDocumentFormat}">CII</td>
					<td th:text="${document.documentId}">F-2345RWELF2</td>
					<td th:text="${document.documentDate}">2018-13-23</td>
				</tr>
				<tr>
					<th colspan="2">File name</th>
					<th colspan="2">Message ID</th>
				</tr>
				<tr>
					<td colspan="2" th:text="${document.name}">XXX</td>
					<td colspan="2" th:text="${document.messageId}">BSD-332-32D2-2342-ABD3-353F</td>
				</tr>
			</table>
		</div>		
	</div>	
	
		<div>
			<button class="m-2 btn btn-primary btn-sm" onclick="$('#invoiceResponseForm').toggle()">New Invoice Response 3.0</button>
			<div class="card border-secondary w-75 m-1 mb-3 collapse" id="invoiceResponseForm">
			
<script>

var invoiceStatusCodeList = [
	["AB", "Message acknowledgement ", "Indicates that an acknowledgement relating to receipt of message or transaction is required. Status is used when Buyer has received a readable invoice message that can be understood and submitted for processing by the Buyer. "], 
	["AP", "Accepted ", "Indication that the referenced offer or transaction (e.g., cargo booking or quotation request) has been accepted. Status is used only when the Buyer has given a final approval of the invoice and the next step is payment "], 
	["RE", "Rejected ", "Indication that the referenced offer or transaction (e.g., cargo booking or quotation request) is not accepted. Status is used only when the Buyer will not process the referenced Invoice any further. Buyer is rejecting this invoice but not necessarily the commercial transaction. Although it can be used also for rejection for commercial reasons (invoice not corresponding to delivery). "], 
	["IP", "In process ", "Indicates that the referenced message or transaction is being processed. Status is used when the processing of the Invoice has started in Buyers system. "], 
	["UQ", "Under query ", "Indicates that the processing of the referenced message has been halted pending response to a query. Status is used when Buyer will not proceed to accept the Invoice without receiving additional information from the Seller."], 
	["CA", "Conditionally accepted ", "Indication that the referenced offer or transaction (e.g., cargo booking or quotation request) has been accepted under conditions indicated in this message. Status is used when Buyer is accepting the Invoice under conditions stated in ‘Status Reason’ and proceed to pay accordingly unless disputed by Seller."], 
	["PD", "Paid ", "Indicates that the referenced document or transaction has been paid. Status is used only when the Buyer has initiated the payment of the invoice."] 
];

var statusActionList = [
	
	["NOA", "No action required ", "No action required"], 
	["PIN", "Provide information ", "Missing information requested without re-issuing invoice"], 
	["NIN", "Issue new invoice ", "Request to re-issue a corrected invoice"], 
	["CNF", "Credit fully ", "Request to fully cancel the referenced invoice with a credit note"], 
	["CNP", "Credit partially ", "Request to issue partial credit note for corrections only"], 
	["CNA", "Credit the amount ", "Request to repay the amount paid on the invoice"], 
	["OTH", "Other ", "Requested action is not defined by code"]
	
];

var statusReasonList = [
["NON", "No Issue ", "Indicates that receiver of the documents sends the message just to update the status and there are no problems with document processing"],
["REF", "References incorrect ", "Indicates that the received document did not contain references as required by the receiver for correctly routing the document for approval or processing."],
["LEG", "Legal information incorrect ", "Information in the received document is not according to legal requirements."],
["REC", "Receiver unknown ", "The party to which the document is addressed is not known."],
["QUA", "Item quality insufficient ", "Unacceptable or incorrect quality"],
["DEL", "Delivery issues ", "Delivery proposed or provided is not acceptable."],
["PRI", "Prices incorrect ", "Prices not according to previous expectation."],
["QTY", "Quantity incorrect ", "Quantity not according to previous expectation."],
["ITM", "Items incorrect ", "Items not according to previous expectation."],
["PAY", "Payment terms incorrect ", "Payment terms not according to previous expectation."],
["UNR", "Not recognized ", "Commercial transaction not recognized."],
["FIN", "Finance incorrect ", "Finance terms not according to previous expectation."],
["OTH", "Other", "Reason for status is not defined by code."]
]
;

function selectChanged(jQuerySelector, scanArray) {
	var code = $(jQuerySelector).val();
	console.log('Value of '+jQuerySelector+": "+code);
	for (var i=0; i < scanArray.length; i++) {
		var v = scanArray[i];
		if (v[0] == code) {
			$(jQuerySelector+'Desc').text(v[0]+": " + v[2]);
			break;
		}
	}
}
function initSelect(jQuerySelector, scanArray) {
	var scr = $(jQuerySelector);
	var scrOption = $(scr.find('option')[0]);
	for (var i=0; i < scanArray.length; i++) {
		var desc = scanArray[i];
		var opt = scrOption.clone();
		opt.attr('value', desc[0]);
		if (i == 0) {
			opt.attr('selected', 'true');
		}
		opt.text(desc[0]+': '+desc[1]);
		opt.appendTo(scr);
	}
	scrOption.remove();
	selectChanged(jQuerySelector, scanArray);
}
</script>

<style>
.invoice-response .input-group-text {
	min-width: 100px;
}
</style>
			
			
				<div class="card-body pb-1 invoice-response">
					<form method="post" action="#" th:action="@{/document/generate/invoiceResponse}" th:object="${irForm}">
						<input type="hidden" name="id" class="form-control" th:field="*{documentId}"/>
						
						<h2>Invoice Response BIS 3.0</h2>
						
						<div class="mb-3">
							<small class="form-text text-muted"> See <a href="http://docs.peppol.eu/poacc/upgrade-3/profiles/63-invoiceresponse/" target="_blank">PEPPOL BIS Invoice Response 3.0 documentation</a> for details</small>						
						</div>
						
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Status</span>
								</div>
								<select th:field="*{status}" id="invoiceResponseStatusCode" name="invoiceResponseStatusCode" class="form-control" onchange="selectChanged('#invoiceResponseStatusCode', invoiceStatusCodeList)">
									<option value=""></option>
								</select>
							</div>
							<div>
								<small class="form-text text-muted" id="invoiceResponseStatusCodeDesc"></small>
							</div>							
							<div>
								<small class="form-text text-muted"> See <a href="http://docs.peppol.eu/poacc/upgrade-3/codelist/UNCL4343-T111/" target="_blank">Invoice status code (UNCL4343 Subset)</a> for details</small>
							</div>
							<script>
								initSelect('#invoiceResponseStatusCode', invoiceStatusCodeList);
							</script>							
						</div>
						
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Action</span>
								</div>
								<select th:field="*{action}" id="statusClarificationAction" name="statusClarificationAction" class="form-control" onchange="selectChanged('#statusClarificationAction', statusActionList)">
									<option value=""></option>
								</select>								
							</div>
							<div>
								<small class="form-text text-muted" id="statusClarificationActionDesc"></small>
							</div>								
							<div>
								<small class="form-text text-muted"> See <a href="http://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusAction/" target="_blank">Status Clarification Action (OpenPEPPOL)</a> for details</small>
							</div>
							<script>
								initSelect('#statusClarificationAction', statusActionList);
							</script>														
						</div>
						
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Reason</span>
								</div>
								<select th:field="*{reason}" id="statusClarificationReason" name="statusClarificationReason" class="form-control" onchange="selectChanged('#statusClarificationReason', statusReasonList)">
									<option value=""></option>
								</select>
							</div>
							<div>
								<small class="form-text text-muted" id="statusClarificationReasonDesc"></small>
							</div>							
							<div>
								<small class="form-text text-muted"> See <a href="http://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusReason/" target="_blank">Status Clarification Reason (OpenPEPPOL)</a> for details</small>
							</div>
							<script>
								initSelect('#statusClarificationReason', statusReasonList);
							</script>								
						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Detail type</span>
								</div>
								<input th:field="*{detailType}" type="text" name="invoiceResponseDetailTypeCode" class="form-control"/>
							</div>
							<div>
								<small class="form-text text-muted">E.g. BT-48</small>
							</div>							
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Detail value</span>
								</div>
								<input th:field="*{detailValue}" type="text" name="invoiceResponseDetailValue" class="form-control"/>
							</div>
							<div>
								<small class="form-text text-muted">E.g. EU12345</small>
							</div>							
						</div>

						<button type="submit" class="m-2 btn btn-primary btn-sm">Generate</button>
					</form>
				</div>
			</div>
		</div>

	<div class="card border-secondary m-1">
		<div class="card-body pb-0">
			<table class="table table-sm table-borderless">
				<tr>
					<th></th>
					<th>Number</th>
					<th>Name</th>
					<th>Country</th>
				</tr>
				<tr>
					<th>Sender</th>
					<td th:text="${document.senderIdRaw}">0088::2342342342</td>					
					<td th:text="${document.senderName}">Region</td>					
					<td th:text="${document.senderCountry}">DK</td>
				</tr>
				<tr>
					<th>Receiver</th>
					<td th:text="${document.receiverIdRaw}">0088::2342342342</td>					
					<td th:text="${document.receiverName}">Region</td>					
					<td th:text="${document.receiverCountry}">DK</td>
				</tr>
			</table>
		</div>		
	</div>
	
	</div>

	<div class="card border-secondary m-1">
		<div class="card-body pb-0">
			<div class="card-title">
				Journal records
			</div>
			<table class="table table-borderless table-sm">
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Status</th>
					<th>Message</th>
					<th>Duration, ms</th>
				</tr>
				<th:block th:each="r,iter : ${lastJournalList}">
				<tr>
					<td th:text="${#dates.format(r.createTime, 'yyyy-MM-dd HH:mm:ss')}" class="text-nowrap"></td>
					<td th:text="${r.type}"></td>
					<td>
						<i th:if="${r.success}" class="fa fa-check-circle text-success"></i>
						<i th:if="${!r.success}" class="fa fa-exclamation-circle text-danger "></i>
					</td>
					<td th:text="${r.message}"/>
					<td th:text="${r.durationMs}"/>
				</tr>
				<tr th:if="${errorListByJournalDocumentIdMap.get(r.id)}">
					<td colspan="5">
						<table class="table table-sm">
							<tr>
								<th>Flag</th>
								<th>Code</th>
								<th>Message</th>
								<th>Location</th>
							</tr>
							<tr th:each="errorDictionary : ${errorListByJournalDocumentIdMap.get(r.id)}">
								<td th:text="${errorDictionary.flag}"></td>
								<td th:text="${errorDictionary.code}"></td>
								<td th:text="${errorDictionary.message}"></td>
								<td th:text="${#strings.abbreviate(errorDictionary.location, 100)}"></td>
							</tr>
						</table>
					</td>
				</tr>
				</th:block>
			</table>
		</div>
	</div>

	<div class="row m-1">

	<div class="col card border-secondary w-50 m-1">
		<div class="card-body pb-0">
			<div class="card-title">
				Document Bytes
			</div>
			<table class="table table-borderless table-sm">
				<tr>
					<th>Id</th>
					<th>Type</th>
					<th>Size, bytes</th>
				</tr>
				<tr th:each="r,iter : ${documentBytes}">
					<td th:text="${r.id}"></td>
					<td th:text="${r.type}"></td>
					<td th:text="${r.size}"></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col card border-secondary w-50 m-1 mb-3">
		<div class="card-body pb-1">
			<form method="post" action="#" th:action="@{/document/updatestatus}" th:object="${document}">
				<div class="d-flex justify-content-end">
					<label class="m-2 col-form-label font-weight-bold">Status change:</label>
					<select th:field="*{documentStatus}" class="m-2">
						<option th:each="documentStatus : ${documentStatusList}" th:text="${documentStatus}" th:value="${documentStatus}"></option>
					</select>
					<button type="submit" class="m-2 btn btn-primary btn-sm">Update Status</button>
					<input type="hidden" th:field="*{id}" class="form-control" th:value="${document.id}"/>
				</div>
			</form>
		</div>
	</div>
	
	</div>
</body>
</html>