<div class="d-sm-flex justify-content-between" *ngIf="countClick == 0">
  <div class="p-2">
    <strong>
      {{ headerName | translate }}
    </strong>
  </div>
  <div class="p-2">
    <i class="fas fa-sort"></i>
  </div>
</div>
<div class="d-sm-flex justify-content-between" *ngIf="countClick == 1">
  <div class="p-2">
    <strong>
      {{ headerName | translate }}
    </strong>
  </div>
  <div class="p-2">
    <i class="fas fa-sort-up"></i>
  </div>
</div>
<div class="d-sm-flex justify-content-between" *ngIf="countClick == 2">
  <div class="p-2">
    <strong>
      {{ headerName | translate }}
    </strong>
  </div>
  <div class="p-2">
    <i class="fas fa-sort-down"></i>
  </div>
</div>
