<div [@routerTransition]>
    <app-page-header [heading]="'journal.documents.header'" [icon]="'fa-book'"></app-page-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="card" style="min-height: 768px">
                    <div class="card-header"><span>{{ 'journal.documents.table.header' | translate }}</span></div>
                    <br>
                    <app-pagination [pagination]="pagination" [dropdownPosition]="'bottom'"></app-pagination>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th *ngFor="let hed of tableHeaderSortModels">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-sm" (click)="clickFilter(hed.columnName)">
                                            <app-table-header-sort [countClick]="hed.columnClick" [headerName]="hed.columnName"></app-table-header-sort>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <ng-select [items]="organizations"
                                               placeholder="organizations: "
                                               [(ngModel)]="selectedOrganization"
                                               (change)="loadOrganisations()">
                                    </ng-select>
                                </td>
                                <td>
                                    <ng-select [items]="typeList"
                                               placeholder="types: "
                                               [(ngModel)]="selectedType"
                                               (change)="loadType()">
                                    </ng-select>
                                </td>
                                <td>
                                    <ng-select [items]="successList"
                                               bindLabel="type"
                                               placeholder="Success: "
                                               [(ngModel)]="selectedSuccess"
                                               (change)="loadSuccess()">
                                    </ng-select>
                                </td>
                                <td>
                                    <input class="form-control"
                                           type="text"
                                           [(ngModel)]="textMessage"
                                           placeholder="Message"
                                           (change)="loadTextMessage($event.target.value)"/>
                                </td>
                                <td>
                                    <input class="form-control"
                                           type="text"
                                           [(ngModel)]="textDurationMs"
                                           placeholder="DurationMs"
                                           (change)="loadTextDurationMs($event.target.value)"/>
                                </td>
                                <td>
                                    <input bsDaterangepicker
                                           [bsConfig]="{containerClass: 'theme-dark-blue'}"
                                           [bsValue]="startDate"
                                           class="form-control"
                                           placeholder="Received Date"
                                           type="text"
                                           (bsValueChange)="loadReceivedDate($event)">
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let doc of journalDocuments" [routerLink]="['/journal-documents/', doc.id]">
                                <td>{{doc.organisation.name}}</td>
                                <td>{{doc.type}}</td>
                                <td *ngIf="doc.success"><img src="assets/images/success.png" /></td>
                                <td *ngIf="!doc.success"><img src="assets/images/error.png" /></td>
                                <td>{{doc.message}}</td>
                                <td>{{doc.durationMs}}</td>
                                <td>{{doc.createTime | date: SHOW_DATE_FORMAT}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <app-pagination [pagination]="pagination" [dropdownPosition]="'top'"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
