<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Config value
		</div>
		<div class="card-body">

			<form method="post" action="#" th:action="@{/setup/config/save}" th:object="${configValue}">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" >Set value for</label>
					<label class="col-sm-4 col-form-label" th:text="*{configValueType.key}"></label>
					<!--<div class="col-sm-8">-->
						<!--<select class="form-control" th:field="*{configValueType}">-->
							<!--<option th:text="${r.name()}" th:value="${r}" th:each="r,iter : ${configValueTypeList}">CONFIG</option>-->
						<!--</select>-->
					<!--</div>-->
				</div>
				<div class="form-group row">
					<label for="valueField" class="col-sm-4 col-form-label">Value *:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{value}" name="valueField" id="valueField" />
					</div>
				</div>
				<input type="hidden" th:field="*{configValueType}" class="form-control" th:value="${configValue.configValueType}"/>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>

		</div>
		
	</div>
</body>
</html>