<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<style>
	.rule-changed {
		color: green;
	}
	</style>
	<div class="card border-secondary">
		<div class="card-header">
			Setup
		</div>
		<div class="card-body">

			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Configuration value</th>
					<th>Property</th>
					<th>Value</th>
					<th>Overwrite</th>
				</tr>
				<tr th:each="r,iStat : ${configValuesList}">
					<td th:text="${r.description}"></td>
					<td th:text="${r.key}"></td>
					<td th:if="${r.key.contains('password')}">
						<span>
							<span th:attr="toggle='#passDiv' + ${iStat.index}, untoggle='#showDiv' + ${iStat.index}" class="fa fa-fw fa-eye field-icon toggle-div-password"></span>
							<label th:text="'*****'" th:id="'passDiv' + ${iStat.index}" th:attr="hidden=false"/>
							<label th:text="${r.value}" th:id="'showDiv' + ${iStat.index}" th:attr="hidden=true"/>
		                </span>
					</td>
					<td th:unless="${r.key.contains('password')}" th:text="${r.value}"></td>
					<td><a th:href="@{|/setup/config/edit/${r.typeName}|}" >Edit</a></td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/setup/config/dbupdate}" class="btn btn-primary">Update from DB</a>
			<a href="#" th:href="@{/setup/domibus}" class="btn btn-secondary">Domibus</a>
		</div>
	</div>
	
		<div style="float: right" th:fragment="rule-header-info(changeData)" th:if="${changeData != null}">
			<div th:if="${!changeData.idSet.empty}" class="rule-changed">* rule is changed and cache is not yet flushed.</div>
			<div th:if="${changeData.someRulesDeleted}" class="rule-changed">** some rules are deleted, but present in cache. Consider cache flushing.</div>
		</div>	
	
	<div class="card border-secondary mt-2">
		<div class="card-header">
			Validation Rules
			<div th:replace=":: rule-header-info(${validationChange})"/>
		</div>
		<div class="card-body table-responsive">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>Document format</th>
					<th>Type</th>
					<th>Priority</th>
					<th>Path</th>
					<th style="width: 120px;">Actions</th>
				</tr>
				<tr th:each="validationRule,iter : ${validationRuleList}" class="" th:classappend="${validationChange.idSet.contains(validationRule.id)?'rule-changed':''}">
					<td th:text="${validationRule.documentFormat}"></td>
					<td th:text="${validationRule.validationType}"></td>
					<td th:text="${validationRule.priority}"></td>
					<td th:text="${validationRule.rootPath}" class="" th:classappend="${validationRule.active?'':'delis-deactivated'}" ></td>
					<td>
						<a href="#" th:href="@{|/validationrule/update/${validationRule.id}|}" th:text="Update"></a>
						<a class="ml-2" href="#" th:href="@{|/validationrule/delete/${validationRule.id}|}" onclick="return confirm('Are you sure that you want to delete this validation rule?')" th:text="Delete"></a>
						<span th:if="${validationChange.idSet.contains(validationRule.id)}">*</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{|/validationrule/create/0|}" class="btn btn-primary">Add</a>
			<a href="#" th:href="@{|/validationrule/createdefault|}" class="btn btn-secondary">Reset to defaults</a>
			<a href="#" th:href="@{|/validationrule/flushcache|}" class="btn btn-secondary">Flush cache</a>
		</div>
	</div>
	<div class="card border-secondary mt-2">
		<div class="card-header">
			Transformation Rules
			<div th:replace=":: rule-header-info(${transformationChange})"/>
		</div>
		<div class="card-body table-responsive">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>From</th>
					<th>To</th>
					<th>Path</th>
					<th style="width: 120px;">Actions</th>
				</tr>
				<tr th:each="transformationRule,iter : ${transformationRuleList}" class="" th:classappend="${transformationChange.idSet.contains(transformationRule.id)?'rule-changed':''}">
					<td th:text="${transformationRule.documentFormatFamilyFrom}"></td>
					<td th:text="${transformationRule.documentFormatFamilyTo}"></td>
					<td th:text="${transformationRule.rootPath}" class="" th:classappend="${transformationRule.active ? '':'delis-deactivated'}" ></td>
					<td>
						<a href="#" th:href="@{|/transformationrule/update/${transformationRule.id}|}" th:text="Update"></a>
						<a class="ml-2" href="#" th:href="@{|/transformationrule/delete/${transformationRule.id}|}" onclick="return confirm('Are you sure that you want to delete this transformation rule?')" th:text="Delete"></a>
						<span th:if="${transformationChange.idSet.contains(transformationRule.id)}">*</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{|/transformationrule/create/0|}" class="btn btn-primary">Add</a>
			<a href="#" th:href="@{|/transformationrule/createdefault|}" class="btn btn-secondary">Reset to defaults</a>
			<a href="#" th:href="@{|/transformationrule/flushcache|}" class="btn btn-secondary">Flush cache</a>
		</div>
	</div>
</body>
</html>