<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Setup
		</div>
		<div class="card-body">

			<table class="table table-striped table-bordered table-sm" th:if="${configProperties}">
				<tr>
					<th>Configuration value</th>
					<th>Property</th>
					<th>Value</th>
					<th>Overwrite</th>
				</tr>
				<tr>
					<td>Storage for Documents input</td>
					<td>config.storageDocumentInput</td>
					<td th:text="${configBean.storageInputPath}"></td>
					<td><a href="#">Overwrite by db</a></td>
				</tr>
				<tr>
					<td>Storage for Validation files</td>
					<td>config.storageValidationRoot</td>
					<td th:text="${configBean.storageValidationPath}"></td>
					<td><a href="#">Overwrite by db</a></td>
				</tr>
				<tr>
					<td>Storage of Transformation files</td>
					<td>config.storageTransformationRoot</td>
					<td th:text="${configBean.storageTransformationPath}"></td>
					<td><a href="#">Overwrite by db</a></td>
				</tr>
				<tr>
					<td>Storage of Code lists files</td>
					<td>config.storageCodeListsRoot</td>
					<td th:text="${configBean.storageCodeListPath}"></td>
					<td><a href="#">Overwrite by db</a></td>
				</tr>
			</table>


			<table class="table table-striped table-bordered table-sm" th:if="${configValueList}">
				<tr>
					<th>Type</th>
					<th>Value</th>
					<th>Created</th>
				</tr>
				<tr th:each="r,iter : ${configValueList}">
					<td><a href="#" th:href="@{/setup/configvalue_edit/__${r.id}__}" th:text="${r.configValueType}"></a></td>
					<td th:text="${r.value}"></td>
					<td th:text="${r.createDate}"/>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/setup/config/create}" class="btn btn-primary">Create new</a>
		</div>
	</div>
</body>
</html>