<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'sidebar.dashboard' | translate }}</span>
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-fw fa-book"></i>&nbsp;
                <span>{{ 'sidebar.documents' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/documents']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-book"></i>&nbsp;
                            <span>{{ 'sidebar.received.documents' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/send-documents']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-book"></i>&nbsp;
                            <span>{{ 'sidebar.send.documents' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a [routerLink]="['/identifiers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-id-card"></i>&nbsp;
            <span>{{ 'sidebar.identifier' | translate }}</span>
        </a>

    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'sidebar.collapse' | translate }}</span>
    </div>
</nav>
