<mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']">{{ 'sidebar.home' | translate}}</a>
    </div>
    <div fxFlex fxLayout dir="ltr" fxFlexOffset="5" fxHide.xs>
        <a [routerLink]="['/document']" [routerLinkActive]="['router-link-active']" class="delisHeader">{{ 'sidebar.received.documents' | translate }}</a>
        <a [routerLink]="['/send-document']" [routerLinkActive]="['router-link-active']" class="delisHeader">{{ 'sidebar.send.documents' | translate }}</a>
        <a [routerLink]="['/identifier']" [routerLinkActive]="['router-link-active']" class="delisHeader">{{ 'sidebar.identifier' | translate }}</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1em" class="navigation-items">
            <li>
                <mat-menu #langMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="changeLang('en')">
                        <span>{{ 'header.language.english' | translate }}</span>
                        <mat-icon *ngIf="lang == 'en'" class="checkCircleHeaderLanguage">check_circle</mat-icon>
                    </button>
                    <button mat-menu-item (click)="changeLang('da')">
                        <span>{{ 'header.language.danish' | translate }}</span>
                        <mat-icon *ngIf="lang == 'da'" class="checkCircleHeaderLanguage">check_circle</mat-icon>
                    </button>
                </mat-menu>
                <a class="systemLink" [matMenuTriggerFor]="langMenu">
                    {{ 'header.language' | translate }}
                </a>
            </li>
            <li>
                <mat-menu #userMenu="matMenu" xPosition="before">
                    <table class="profile-info">
                        <tr>
                            <td>{{ 'profile.menu.role' | translate }}</td>
                            <td>{{ currentUser.role | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'profile.menu.loginName' | translate }}</td>
                            <td>{{ currentUser.username }}</td>
                        </tr>
                        <tr *ngIf="currentUser.firstName !== null">
                            <td>{{ 'profile.menu.firstName' | translate }}</td>
                            <td>{{ currentUser.firstName }}</td>
                        </tr>
                        <tr *ngIf="currentUser.lastName !== null">
                            <td>{{ 'profile.menu.lastName' | translate }}</td>
                            <td>{{ currentUser.lastName }}</td>
                        </tr>
                        <tr *ngIf="currentUser.role === 'ROLE_USER'">
                            <td>{{ 'profile.menu.organisation' | translate }}</td>
                            <td>{{ currentUser.organisation }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'profile.menu.loginTime' | translate }}</td>
                            <td>{{ currentUser.lastLoginTime | date: SHOW_DATE_FORMAT }}</td>
                        </tr>
                    </table>
                </mat-menu>
                <a class="systemLink" [matMenuTriggerFor]="userMenu">
                    {{ headerUserName }}
                </a>
            </li>
            <li>
                <a [routerLink]="['/logout']" [routerLinkActive]="['router-link-active']">{{ 'header.account.logout' | translate }}</a>
            </li>
        </ul>
    </div>

</mat-toolbar>
