<div [@routerTransition]>
    <app-page-header [heading]="'documents.header.details'" [icon]="'fa-file-text-o'" [headers]="pageHeaders"></app-page-header>

    <div *ngIf="error">{{resetData()}}</div>

    <div class="card">
        <div class="card border-secondary m-1">
            <div class="card-body table-responsive">
                <table class="table table-sm table-borderless">
                    <tr>
                        <th>{{ 'documents.table.one.columnName.organisation' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.identifier' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.createTime' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.status' | translate }}</th>
                    </tr>
                    <tr >
                        <td *ngIf="document.organisation !== null">{{document.organisation.name}}</td>
                        <td *ngIf="document.organisation === null"></td>
                        <td *ngIf="document.receiverIdentifier !== null" class="btn-link" style="cursor: pointer" [routerLink]="['/identifiers/', document.receiverIdentifier.id]">{{document.receiverIdentifier.name}}</td>
                        <td *ngIf="document.receiverIdentifier === null"></td>
                        <td>{{document.createTime | date: SHOW_DATE_FORMAT}}</td>
                        <td>{{document.documentStatus}}</td>
                    </tr>
                    <tr>
                        <th>{{ 'documents.table.one.columnName.documentType' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.ingoingDocumentFormat' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.documentId' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.documentDate' | translate }}</th>
                    </tr>
                    <tr >
                        <td>{{document.documentType}}</td>
                        <td>{{document.ingoingDocumentFormat}}</td>
                        <td>{{document.documentId}}</td>
                        <td>{{document.documentDate}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">{{ 'documents.table.one.columnName.name' | translate }}</th>
                        <th colspan="2">{{ 'documents.table.one.columnName.messageId' | translate }}</th>
                    </tr>
                    <tr >
                        <td colspan="2">{{document.name}}</td>
                        <td colspan="2">{{document.messageId}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card border-secondary m-1">
            <div class="card-body table-responsive">
                <table class="table table-sm table-borderless">
                    <tr>
                        <th></th>
                        <th>{{ 'documents.table.one.columnName.senderIdRaw' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.senderName' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.senderCountry' | translate }}</th>
                    </tr>
                    <tr >
                        <th>{{ 'documents.table.one.columnName.sender' | translate }}</th>
                        <td>{{document.senderIdRaw}}</td>
                        <td>{{document.senderName}}</td>
                        <td>{{document.senderCountry}}</td>
                    </tr>
                    <tr >
                        <th>{{ 'documents.table.one.columnName.receiver' | translate }}</th>
                        <td>{{document.receiverIdRaw}}</td>
                        <td>{{document.receiverName}}</td>
                        <td>{{document.receiverCountry}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card border-secondary m-1">
            <div class="card-body table-responsive">
                <div class="card-title">
                    {{ 'documents.table.one.columnName.journalRecords' | translate }}
                </div>
                <table class="table table-borderless table-sm">
                    <tr>
                        <th>{{ 'documents.table.one.columnName.journalRecords.createTime' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.journalRecords.type' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.journalRecords.success' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.journalRecords.message' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.journalRecords.durationMs' | translate }}</th>
                    </tr>
                    <tbody *ngFor="let doc of journalDocuments">
                    <tr >
                        <td>{{doc.createTime | date: SHOW_DATE_FORMAT}}</td>
                        <td>{{doc.type}}</td>
                        <td *ngIf="doc.success"><i class="fa fa-check-circle text-success"></i></td>
                        <td *ngIf="!doc.success"><i class="fa fa-exclamation-circle text-danger"></i></td>
                        <td>{{doc.message}}</td>
                        <td>{{doc.durationMs}}</td>
                    </tr>
                    <ng-container *ngIf="getErrorDictionaryModel(doc.id).length !== 0" class="card border-secondary m-1">
                        <tr>
                            <th>{{ 'documents.table.one.columnName.journalDocumentErrors.flag' | translate }}</th>
                            <th>{{ 'documents.table.one.columnName.journalDocumentErrors.code' | translate }}</th>
                            <th>{{ 'documents.table.one.columnName.journalDocumentErrors.message' | translate }}</th>
                            <th>{{ 'documents.table.one.columnName.journalDocumentErrors.location' | translate }}</th>
                        </tr>
                        <tr *ngFor="let err of getErrorDictionaryModel(doc.id)" >
                            <td>{{err.flag}}</td>
                            <td>{{err.code}}</td>
                            <td>{{err.message}}</td>
                            <td>{{err.location}}</td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card border-secondary m-1">
            <div class="card-body table-responsive">
                <div class="card-title">
                    {{ 'documents.table.one.columnName.documentBytesModels' | translate }}
                </div>
                <table class="table table-borderless table-sm">
                    <tr>
                        <th>{{ 'documents.table.one.columnName.documentBytesModels.id' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.documentBytesModels.type' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.documentBytesModels.format' | translate }}</th>
                        <th>{{ 'documents.table.one.columnName.documentBytesModels.size' | translate }}</th>
                        <th>Download</th>
                    </tr>
                    <tr *ngFor="let doc of documentBytesModels" >
                        <td>{{doc.id}}</td>
                        <td>{{doc.type}}</td>
                        <td>{{doc.format}}</td>
                        <td>{{doc.size}}</td>
                        <td class="btn-link" style="cursor: pointer" (click)="download(doc.id)">Download</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
