<div [@routerTransition]>
    <app-page-header [heading]="'documents.header.details'" [icon]="'fa-file-text-o'" [headers]="pageHeaders"></app-page-header>

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <table class="table table-sm table-borderless">
                <tr>
                    <th>Organisation</th>
                    <th>Identifier</th>
                    <th>Received</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>{{document.organisation.name}}</td>
                    <td class="btn-link" style="cursor: pointer" [routerLink]="['/identifiers/', document.receiverIdentifier.id]">{{document.receiverIdentifier.name}}</td>
                    <td>{{document.createTime | date: SHOW_DATE_FORMAT}}</td>
                    <td>{{document.documentStatus}}</td>
                </tr>
                <tr>
                    <th>Document type</th>
                    <th>Ingoing format</th>
                    <th>Document Id</th>
                    <th>Document date</th>
                </tr>
                <tr>
                    <td>{{document.documentType}}</td>
                    <td>{{document.ingoingDocumentFormat}}</td>
                    <td>{{document.documentId}}</td>
                    <td>{{document.documentDate}}</td>
                </tr>
                <tr>
                    <th colspan="2">File name</th>
                    <th colspan="2">Message ID</th>
                </tr>
                <tr>
                    <td colspan="2">{{document.name}}</td>
                    <td colspan="2">{{document.messageId}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <table class="table table-sm table-borderless">
                <tr>
                    <th></th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <th>Sender</th>
                    <td>{{document.senderIdRaw}}</td>
                    <td>{{document.senderName}}</td>
                    <td>{{document.senderCountry}}</td>
                </tr>
                <tr>
                    <th>Receiver</th>
                    <td>{{document.receiverIdRaw}}</td>
                    <td>{{document.senderName}}</td>
                    <td>{{document.senderCountry}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <div class="card-title">
                Journal records
            </div>
            <table class="table table-borderless table-sm">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th>Duration, ms</th>
                </tr>
                <tr *ngFor="let doc of journalDocuments">
                    <td>{{doc.createTime | date: SHOW_DATE_FORMAT}}</td>
                    <td>{{doc.type}}</td>
                    <td *ngIf="doc.success"><i class="fa fa-check-circle text-success"></i></td>
                    <td *ngIf="!doc.success"><i class="fa fa-exclamation-circle text-danger"></i></td>
                    <td>{{doc.message}}</td>
                    <td>{{doc.durationMs}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="journalDocumentErrors.length != 0" class="card border-secondary m-1">
        <div class="card-body pb-0">
            <div class="card-title">
                Document errors
            </div>
            <table class="table table-sm">
                <tr>
                    <th>Flag</th>
                    <th>Code</th>
                    <th>Message</th>
                    <th>Location</th>
                </tr>
                <tr *ngFor="let doc of journalDocumentErrors">
                    <td>{{doc.flag}}</td>
                    <td>{{doc.code}}</td>
                    <td>{{doc.message}}</td>
                    <td>{{doc.location}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card border-secondary m-1">
        <div class="card-body pb-0">
            <div class="card-title">
                Document Bytes
            </div>
            <table class="table table-borderless table-sm">
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Size, bytes</th>
                </tr>
                <tr *ngFor="let doc of documentBytesModels">
                    <td>{{doc.id}}</td>
                    <td>{{doc.type}}</td>
                    <td>{{doc.size}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
