<div fxLayout="row"
     fxLayout.xs="column">
    <app-date-range [range]="range"></app-date-range>
    <div class="app-button-row example-button-row">
        <button mat-mini-fab color="primary" (click)="refresh()" title="{{ 'refresh' | translate }}" aria-label="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="clear()" title="{{ 'pagination.clear' | translate }}" aria-label="Clear">
            <mat-icon>autorenew</mat-icon>
        </button>
    </div>
</div>
<div class="mt2">
    <div *ngIf="showing; else elseBlock">
        <canvas baseChart height="100"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>

    <ng-template #elseBlock>
                <span>
                    {{ 'dashboard.chart.default_message' | translate }}
                </span>
    </ng-template>
</div>
