<app-date-range [range]="range"></app-date-range>
<table>
    <tbody>
    <tr>
        <td class="table-details-td">
            <div *ngIf="showing; else elseBlock">
                <canvas baseChart height="100"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
            </div>

            <ng-template #elseBlock>
                <span>
                    {{ 'dashboard.chart.default_message' | translate }}
                </span>
            </ng-template>
        </td>
    </tr>
    </tbody>
</table>
