.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mr-20 {
  margin-right: 20px;
}

.ptr {
  cursor: pointer;
}

.text-right {
  text-align: right !important;
}

.font-italic {
  font-style: italic !important;
}

.ml2 {
  margin-left: 2em !important;
}
