/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.ng-dropdown-panel {
  width: auto !important;
  min-width: 100%;
}
