/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

@media print {
  .breadcrumb {
    display: none !important;
  }
}

$topnav-background-color: #005b7c;
.ng-dropdown-panel {
  width: auto !important;
  min-width: 100%;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: $topnav-background-color;
  color: #ebf5ff;
}

button {
  color: #d4d4d4 !important;
  background-color: $topnav-background-color !important;
  border-radius: 12px !important;
  border-color: #d4d4d4 !important;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $topnav-background-color;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $topnav-background-color;
  border-color: $topnav-background-color;
}

a {
  color: $topnav-background-color;
}

.theme-dark-blue .bs-datepicker-head {
  background-color: $topnav-background-color;
}

.table-hover tbody tr:hover {
  background-color: $topnav-background-color;
  color: #ebf5ff;
}

.dropdown-menu {
  border: 1px solid $topnav-background-color !important;
}

.dropdown-menu a:hover {
  background-color: $topnav-background-color !important;
  color: #ebf5ff !important;
}

.dropdown-item {
  color: darken($topnav-background-color, 15%) !important;
}

img {
  border-radius: 50px 50px 10px 10px !important;
  background-color: aliceblue !important;
  border-style: solid !important;
  width: 30% !important;
}