/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@ng-select/ng-select/themes/default.theme.css";
//@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

@media print {
  .breadcrumb {
    display: none !important;
  }
}

$topnav-background-color: #005b7c;
.ng-dropdown-panel {
  width: auto !important;
  min-width: 100%;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: $topnav-background-color;
  color: #ebf5ff;
}

.btn-sm:hover, .btn-sm:focus, .btn-sm:active {
  box-shadow: none !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $topnav-background-color;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $topnav-background-color;
  border-color: $topnav-background-color;
}

a {
  color: $topnav-background-color;
}

//.theme-dark-blue .bs-datepicker-head {
//  background-color: $topnav-background-color;
//}

//.table-hover tbody tr:hover {
//  background-color: $topnav-background-color;
//  color: #ebf5ff;
//}

.dropdown-menu {
  border: 1px solid $topnav-background-color !important;
}

.dropdown-menu a:hover {
  background-color: $topnav-background-color !important;
  color: #ebf5ff !important;
}

.dropdown-item {
  color: darken($topnav-background-color, 15%) !important;
}

div.md-drppicker.drops-undefined-undefined.ltr.shown.double.show-ranges {
  right: 5% !important;
  left: auto !important;
  top: 32% !important;
}

.md-drppicker .ranges ul li button.active {
  background-color: $topnav-background-color !important;
  color: #fff;
}

.md-drppicker .btn {
  background-color: $topnav-background-color !important;
}

.md-drppicker td.active, .md-drppicker td.active:hover {
  background-color: #868e96 !important;
}

.md-drppicker td.weekend.available.ng-star-inserted {
  color: red !important;
}

.md-drppicker td.off.available.ng-star-inserted {
  color: #868e96 !important;
}

.md-drppicker td.available.ng-star-inserted {
  color: black !important;
}

.clear svg {
  color: black !important;
}

.sys-button {
  background-color: $topnav-background-color;
  color: #fff;
}

.sys-button:focus, .sys-button:hover {
  color: #fff;
}
