.card {
  margin-top: 10px;
}

.card .card-header {
  text-align: center !important;
  color: #d4d4d4 !important;
  background-color: #005b7c !important;
}

.card .card-footer {
  color: #d4d4d4 !important;
  background-color: #005b7c !important;
}

.btn-sm {
  width: 100% !important;
  border-radius: 5px !important;
}

table i {
  margin-left: 50px !important;
}
