@import "delis_material";

.main-container {
    position: absolute;
    top: 64px;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.check-header-language {
  color: mat-color($primary) !important;
  margin-left: 1em;
}

.delis-button-row button,
.delis-button-row a {
  margin-right: 2em;
}

.delis-button-row button:last-child {
  margin-right: 0em;
}

.delis-button-row-footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.download-muted {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.5;
}

.download {
  cursor: pointer;
  text-decoration: underline;
}

.profile-info {
  padding: 1em;
  font-family: $delis-font-family, "system", serif !important;
}
