<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white" th:text="${organisation} ? ${organisation.name} : 'All identifiers'">
			Test organisation
		</div>
		<div class="card-body">
			<table class="table form-group">
				<tr>
					<!--<th>Organisation</th>-->
					<th>Identifier</th>
					<th>Type</th>
					<th>Name</th>
					<th>Status</th>
					<th>Publishing</th>
				</tr>
				<tr>
					<!--<td>-->
						<!--<input type="text" class="form-control" id="orgFilter">-->
					<!--</td>-->
					<td>
						<input type="text" class="form-control" id="idFilter">
					</td>
					<td>
						<input type="text" class="form-control" id="typeFilter">
					</td>
					<td>
						<input type="text" class="form-control" id="nameFilter">
					</td>
					<td>
						<select class="form-control"  id="statusSelector">
							<option>All</option>
							<option th:each="status : ${statusList}" th:text="${status}" th:value="${status}"></option>
						</select>
					</td>
					<td>
						<select class="form-control"  id="publishingStatusSelector">
							<option>All</option>
							<option th:each="status : ${publishingStatusList}" th:text="${status}" th:value="${status}"></option>
						</select>
					</td>
				</tr>
			</table>
			<form action="#" th:action="@{/identifier/updatestatuses}" th:object="${selectedIdList}" method="post">
				<div class="container">
					<table id="identifiers" class="table">
						<thead>
						<tr>
							<th><input type="checkbox" class="selectAll checkbox" name="selectAll" id="selectAll" /></th>
							<th>Organisation</th>
							<th>Identifier</th>
							<th>Type</th>
							<th>Name</th>
							<th>Status</th>
							<th>Publishing</th>
						</tr>
						</thead>
					</table>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-start">
                        <label class="m-2 col-form-label">Status:</label>
                        <select th:field="*{status}" class="m-2">
                            <option th:each="status : ${statusList}" th:text="${status}" th:value="${status}"></option>
                        </select>
                        <label class="m-2 col-form-label">Publishing Status:</label>
                        <select th:field="*{publishStatus}" class="m-2">
                            <option th:each="publishStatus : ${publishingStatusList}" th:text="${publishStatus}" th:value="${publishStatus}"></option>
                        </select>
						<button type="submit" class="m-2 btn btn-primary">Update Statuses</button>
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer" th:if="${organisation}">
			<a href="#" th:href="@{/organisation/view/__${organisation.id}__}" class="btn btn-primary">Back to <span th:text="${organisation.name}">Test organisation</span></a>
		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
		<script>
			var table = $('table#identifiers').DataTable({
				ajax: {
					contentType: 'application/json',
					url: '[[@{/identifier/table}]]',
					type: 'POST',
					data: function (d) {
						return JSON.stringify(d);
					}
				},
				serverSide: true,
				columns: [
					{
						data: 'id',
						orderable: false,
						searchable: false,
						render: function (data) { return '<input type="checkbox" value="' + data + '" class="selectItem checkbox" name="idList" id="idList"/>'; }
					},
					{
						data: 'organisation',
						searchable: false,
						render: function (data) { return '<a href="[[@{/organisation/view/}]]' + data.id + '">' + data.name + '</a>'; }
					},
					{
						data: 'value',
						render: function (data, type, row) { return '<a href="[[@{/identifier/view/}]]' + row["id"] + '">' + data + '</a>'; }
					},
					{
						data: 'type'
					},
					{
						data: 'name'
					},
					{
						data: 'status'
					},
					{
						data: 'publishingStatus'
					}
				]
			});

			var onTextChange = function (value, column) {
				table.column(column).search(value).draw();
			};

			var onSelectChange = function(selector, column) {
				var filter = '';
				$('select#' + selector + ' option:selected').each(function() {
					filter += $(this).text() + "+";
				});
				filter = filter.substring(0, filter.length - 1);
				if(filter == 'All') {
					filter = '';
				}
				table.column(column).search(filter).draw();
			};

			$('select#statusSelector').change(function(){onSelectChange('statusSelector', 5)});
			$('select#publishingStatusSelector').change(function(){onSelectChange('publishingStatusSelector', 6)});

			var idInput = $('input#idFilter');
			idInput.on('input', function() {onTextChange(idInput.val(), 2)});

			var typeInput = $('input#typeFilter');
			typeInput.on('input', function() {onTextChange(typeInput.val(), 3)});

			var nameInput = $('input#nameFilter');
			nameInput.on('input', function() {onTextChange(nameInput.val(), 4)});

			// var orgInput = $('input#orgFilter');
			// var onOrgChange = function () {
			// 	table.column(1).search(orgInput.val()).draw();
			// };
			// orgInput.on('input', onOrgChange);
		</script>
	</div>
</body>
</html>