<!doctype html>
<html th:fragment="card-counter (template, pageUrl, count, title, iconClass, cardClass)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" crossorigin="anonymous">
	<title>Delis</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

	<div class="card text-white col-2 m-2" th:classappend="${cardClass}" th:if="${count} > 0" onclick="return cardClicked(this);">
		<div class="card-header">
			<div class="row">
				<div class="col col-xs-3">
					<span class="oi" th:classappend="${iconClass}"></span>
				</div>
				<div class="col col-xs-9 text-right">
					<div class="d-block huge"><a href="#" class="dashboard-link" th:text="${count}" th:href="@{__${pageUrl}__}">3</a></div>
					<div class="d-block" th:text="${title}" >Organisations</div>
				</div>
			</div>
		</div>
	</div>

</body>