<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<div th:fragment="errors (field)" class="invalid-feedback" th:if="${validation?.isInvalid(field)}">
		<div th:each="e: ${validation?.getErrorList(field)}" th:text="${e}">Error message</div>
	</div>
	<div th:fragment="has-errors (field)" class="invalid-feedback" th:if="${#fields.hasErrors(field)}">
		<div th:each="e: ${#fields.errors(field)}" th:text="${e}">Error message</div>
	</div>	

	<div th:fragment="form-input-text (field, name)" class="form-group row" th:with="placeholder = ${placeholder} ?${placeholder} : ${name}, required = ${#ctx.containsVariable('required')}?${required}: true, type = ${#ctx.containsVariable('type')}?${type}:'text'">
		<label class="col-2 col-form-label"><span th:text="${name + (required?'* ': '')}"/>:</label>
		<div class="col-10">
			<input th:type="${type}" th:field="*{__${field}__}" th:placeholder="${placeholder}" class="form-control" th:errorclass="is-invalid" autocomplete="off" />
			<div th:replace=":: has-errors (field='__${field}__')"></div>
		</div>
	</div>

	<div th:fragment="form-input-text-narrow (field, name)" class="form-group row" th:with="placeholder = ${placeholder} ?${placeholder} : ${name}, required = ${#ctx.containsVariable('required')}?${required}: true, type = ${#ctx.containsVariable('type')}?${type}:'text'">
		<label class="col-3 col-form-label"><span th:text="${name + (required?'* ': '')}"/>:</label>
		<div class="col-9">
			<input th:type="${type}" th:field="*{__${field}__}" th:placeholder="${placeholder}" class="form-control" th:errorclass="is-invalid" autocomplete="off" />
			<div th:replace=":: has-errors (field='__${field}__')"></div>
		</div>
	</div>

	<div th:fragment="form-select (field, name, list)" class="form-group row" th:with="required = ${#ctx.containsVariable('required')}?${required}: true, type = ${#ctx.containsVariable('type')}?${type}:'text'">
		<label class="col-2 col-form-label"><span th:text="${name + (required?'* ': '')}"/>:</label>
		<div class="col-10">
			<select th:field="*{__${field}__}"  class="form-control" th:errorclass="is-invalid">
				<option th:each="format : ${__${list}__}" th:text="${format}" th:value="${format}"></option>
			</select>
			<div th:replace=":: has-errors (field='__${field}__')"></div>
		</div>
	</div>

</body>