<div [@routerTransition]>
    <app-page-header [heading]="'documents.header'" [icon]="'fa-book'"></app-page-header>
    <div class="container-fluid">
        <div class="row">
            <div class="card" style="min-height: 768px">
                <div class="card-header"><span>{{ 'documents.table.header' | translate | uppercase }}</span></div>
                <br>
                <app-pagination [pagination]="pagination"></app-pagination>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let hed of tableHeaderSortModels">
                                <button type="button" class="btn btn-light" (click)="clickFilter(hed.columnName)">
                                    <app-table-header-sort [countClick]="hed.columnClick" [headerName]="hed.columnName"></app-table-header-sort>
                                </button>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <input class="form-control"
                                       type="text"
                                       [(ngModel)]="textOrganisation"
                                       placeholder="Organisation"
                                       (change)="loadTextOrganisation($event.target.value)"/>
                            </th>
                            <th>
                                <input class="form-control"
                                       type="text"
                                       [(ngModel)]="textReceiver"
                                       placeholder="Receiver"
                                       (change)="loadTextReceiver($event.target.value)"/>
                            </th>
                            <th>
                                <ng-select [items]="statuses"
                                           bindLabel="status"
                                           placeholder="statuses: "
                                           [(ngModel)]="selectedStatus"
                                           (change)="loadStatus()">
                                </ng-select>
                            </th>
                            <th>
                                <ng-select [items]="lastErrors"
                                           bindLabel="lastError"
                                           placeholder="lastErrors: "
                                           [(ngModel)]="selectedLastError"
                                           (change)="loadLastErrors()">
                                </ng-select>
                            </th>
                            <th>
                                <ng-select [items]="documentTypes"
                                           bindLabel="documentType"
                                           placeholder="documentTypes: "
                                           [(ngModel)]="selectedDocumentType"
                                           (change)="loadDocumentType()">
                                </ng-select>
                            </th>
                            <th>
                                <ng-select [items]="ingoingFormats"
                                           bindLabel="ingoingFormat"
                                           placeholder="ingoingFormats: "
                                           [(ngModel)]="selectedIngoingFormat"
                                           (change)="loadIngoingFormat()">
                                </ng-select>
                            </th>
                            <th>
                                <input bsDaterangepicker
                                       [bsConfig]="{containerClass: 'theme-dark-blue'}"
                                       class="form-control"
                                       placeholder="Received Date"
                                       type="text"
                                       (bsValueChange)="loadReceivedDate($event)">
                            </th>
                            <th>
                                <input bsDaterangepicker
                                       [bsConfig]="{containerClass: 'theme-dark-blue'}"
                                       class="form-control"
                                       placeholder="Issued Date"
                                       type="text"
                                       (bsValueChange)="loadIssuedDate($event)">
                            </th>
                            <th>
                                <input class="form-control"
                                       type="text"
                                       [(ngModel)]="textSenderName"
                                       placeholder="Sender"
                                       (change)="loadTextSenderName($event.target.value)"/>
                            </th>
                            <th>
                                <input class="form-control"
                                       type="text"
                                       [(ngModel)]="textReceiverName"
                                       placeholder="Receiver"
                                       (change)="loadTextReceiverName($event.target.value)"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let doc of documents; let i = index" [routerLink]="['/documents/', doc.id]">
                            <th>{{(i + 1) + ((pagination.currentPage - 1) * pagination.pageSize)}}</th>
                            <td>{{doc.organisation}}</td>
                            <td>{{doc.receiver}}</td>
                            <td>{{doc.status}}</td>
                            <td>{{doc.lastError}}</td>
                            <td>{{doc.documentType}}</td>
                            <td>{{doc.ingoingFormat}}</td>
                            <td>{{doc.received}}</td>
                            <td>{{doc.issued}}</td>
                            <td>{{doc.senderName}}</td>
                            <td>{{doc.receiverName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination [pagination]="pagination"></app-pagination>
            </div>
        </div>
    </div>
</div>
