@import "../../../../styles";

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.dashboard-dynamic-height {
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 3em;
}

app-dashboard-document-admin {
  min-width: 100% !important;
}

app-dashboard-send-document {
  min-width: 100% !important;
}
