ngb-pagination /deep/ .page-item  {
  margin-top: 5% !important;
}

.btn.btn-outline-dark {
  border-color: #cccccc !important;
}

.btn-outline-dark:hover {
  background-color: #ffffff !important;
  color: black !important;
}
