<div class="container">
    <div class="row justify-content-end" style="align-items: center !important; margin: 1% !important;">
        <div class="col-sm-3">
             <span>&nbsp;&nbsp;
                 {{ 'pagination.status.start' | translate }} {{generateFrom()}} {{ 'pagination.status.to' | translate }} {{generateTo()}}
                 {{ 'pagination.status.of' | translate }} {{pagination.collectionSize}} {{ 'pagination.status.end' | translate }}
                </span>
        </div>
        <div class="col-sm-4" *ngIf="pagination.collectionSize > pagination.pageSize">
            <ngb-pagination
                    [collectionSize]="pagination.collectionSize"
                    [pageSize]="pagination.pageSize"
                    [(page)]="pagination.currentPage"
                    [maxSize]="4"
                    [ellipses]="false"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="loadPage($event)">
            </ngb-pagination>
        </div>
        <div class="col-sm-2">
            <span>
                {{ 'pagination.page-size' | translate }}:
            </span>
        </div>
        <div class="col-sm-2">
            <ng-select [items]="pageSizes"
                       bindLabel="pageSize"
                       placeholder="&#8721;"
                       [(ngModel)]="pagination.selectedPageSize"
                       [searchable]="false"
                       [clearable]="false"
                       [dropdownPosition]="dropdownPosition"
                       (change)="loadPageSize()">
            </ng-select>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default clear ng-star-inserted" (click)="clearFilter()" style="background-color: white">&nbsp;{{ 'pagination.clear' | translate }}&nbsp;&nbsp;
                <svg height="30" viewBox="0 -5 24 24" width="30"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
