<div class="container">
  <div class="row">
    <div class="col col-xl-10 col-lg-2">
      <div class="card mb-3">
        <div class="card-header">
          {{title}}
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Status Number</th>
              <th>Status Message</th>
            </tr>
            </thead>
            <tbody *ngFor="let error of getErrors()">
            <tr>
              <th>{{error.statusNumber}}</th>
              <td>{{error.statusMessage}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
