<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--
	In order to avoid file logging - but keep only console logging - to run as systemctl service, copy base.xml but exclude file-appender
	 
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
 -->
	
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="dk.erst.delis" level="INFO"/>
	<logger name="dk.erst.delis.service.content.chart.ChartServiceImpl" level="DEBUG"/>
</configuration>
