@use '~@angular/material' as mat;
@import "../../../../../styles/styles";

mat-form-field.mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin-right: 1em !important;
}

strong {
  margin-right: 1em !important;
}

a {
  color: mat.get-color-from-palette($primary) !important;
}
