### Rewrite Rules Added by CyberPanel Rewrite Rule Generator

RewriteEngine On
RewriteCond %{HTTPS}  !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteRule ^/?delis-validator(.*)$ http://localhost:9081/delis-validator$1 [P,L]
RewriteRule ^/?delis-web-admin(.*)$ http://localhost:9082/delis-web-admin$1 [P,L]
RewriteRule ^/?delis-web-api(.*)$ http://localhost:9083/delis-web-api$1 [P,L]
RewriteRule ^/?twc(.*)$ http://localhost:9084/twc$1 [P,L]
RewriteRule ^/?dcm(.*)$ http://localhost:9085/dcm$1 [P,L]

### End CyberPanel Generated Rules.
