<mat-card>
    <div class="example-container mat-elevation-z8">

        <div class="bounds">
            <div class="content"
                 fxLayout="row"
                 fxLayout.xs="column"
                 fxLayoutAlign="center"
                 fxLayoutGap="1em"
                 fxFlexFill>
                <div>
                    <h4 class="table-details-header">{{ 'sidebar.received.documents' | translate}}</h4>
                </div>
            </div>
        </div>

        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <!--      <mat-spinner></mat-spinner>-->
        </div>

        <mat-table #table [dataSource]="dataSource" matSort matSortActive="createTime" matSortDirection="desc" matSortDisableClear>

            <ng-container matColumnDef="createTime">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.createTime' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <app-date-range [placeholder]="'documents.table.columnName.createTime'"></app-date-range>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink">
                    {{document.createTime | date: SHOW_DATE_FORMAT }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="organisation">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.organisation' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-select [(value)]="selectedOrganisation" (selectionChange)="applyFilter('organisation', $event.value)">
                                    <mat-option *ngFor="let organisation of organisations" [value]="organisation">
                                        {{organisation}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink"><span *ngIf="document.organisation !== null">{{document.organisation.name}} </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="receiverIdentifier">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.receiverIdentifier' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-icon matPrefix [inline]="true">search</mat-icon>
                                <input class="filter-input" matInput (keyup.enter)="applyFilter('receiverIdentifier', $event.target.value)"
                                       placeholder="{{ 'documents.table.columnName.receiverIdentifier' | translate }}"/>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink"><span *ngIf="document.receiverIdentifier !== null">{{document.receiverIdentifier.name}} </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="documentStatus">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.documentStatus' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilter('documentStatus', $event.value)">
                                    <mat-option *ngFor="let status of statuses" [value]="status">
                                        {{status.viewName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink"> {{document.documentStatus}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="documentType">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.documentType' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-select [(value)]="selectedDocumentType" (selectionChange)="applyFilter('documentType', $event.value)">
                                    <mat-option *ngFor="let documentType of documentTypes" [value]="documentType">
                                        {{documentType.viewName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink"> {{document.documentType}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ingoingDocumentFormat">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.ingoingDocumentFormat' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-select [(value)]="selectedIngoingFormats" (selectionChange)="applyFilter('ingoingDocumentFormat', $event.value)">
                                    <mat-option *ngFor="let ingoingFormat of ingoingFormats" [value]="ingoingFormat">
                                        {{ingoingFormat.viewName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink"> {{document.ingoingDocumentFormat}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="senderName">
                <mat-header-cell *matHeaderCellDef>
                    <mat-list>
                        <mat-list-item>
                            <span mat-sort-header> {{ 'documents.table.columnName.senderName' | translate }} </span>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-icon matPrefix [inline]="true">search</mat-icon>
                                <input class="filter-input" matInput (keyup.enter)="applyFilter('senderName', $event.target.value)"
                                       placeholder="{{ 'documents.table.columnName.senderName' | translate }}"/>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-header-cell>
                <mat-cell *matCellDef="let document" class="systemLink">{{document.senderName}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="selectedDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: selectedDisplayedColumns" (click)="onRowClicked(row)"></mat-row>
        </mat-table>

        <mat-card-content>
            <mat-grid-list [cols]="breakpointCols" rowHeight="70px" (window:resize)="onResize($event)">
                <mat-grid-tile [colspan]="breakpointColspan" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>{{ 'column.hide' | translate }}:</mat-label>
                        <mat-select (selectionChange)="showHideColumns($event.value)" multiple>
                            <mat-option *ngFor="let col of allDisplayedColumnsData" [value]="col.columnName">{{ col.columnBundle | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-mini-fab color="primary" (click)="clear()" title="{{ 'pagination.clear' | translate }}" aria-label="Clear">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-mini-fab color="primary" (click)="refresh()" title="{{ 'refresh' | translate }}" aria-label="Refresh">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="breakpointColspan" [rowspan]="1">
                    <mat-paginator [length]="dataSource.totalElements$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>

    </div>
</mat-card>
