@import "../../../../../styles";

.ngx-mat-drp-presets-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.ngx-mat-drp-presets-list li {
  margin: 5px 0 5px 0;
  padding: 4%;
  cursor: pointer;
  background: #fafafa !important;
  color: mat-color($primary) !important;
  user-select: none;
  font-family: "IBM Plex Sans", "system", serif !important;
}

.ngx-mat-drp-presets-list li:hover {
  background: mat-color($primary) !important;
  color: #fff !important;
  font-family: "IBM Plex Sans", "system", serif !important;
}
