<mat-card>
    <mat-card-header>
        <h5>{{ header | translate}}</h5>
    </mat-card-header>

    <mat-card-content class="responsive-table">
        <mat-table [dataSource]="dataSource"
                   matSort
                   matSortActive="{{ sort.active }}"
                   matSortDirection="{{ sort.direction }}"
                   (matSortChange)="handleSortChange($event)"
                   matSortDisableClear>

            <ng-container *ngFor="let column of delisDataTableColumnModel" matColumnDef="{{ column.displayedColumn }}">

                <section *ngIf="column.typeColumn === 'date'">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-list>
                            <mat-list-item>
                                <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                            </mat-list-item>
                            <mat-list-item>
                                <app-date-range [placeholder]="column.headerColumn"></app-date-range>
                            </mat-list-item>
                        </mat-list>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) | date: SHOW_DATE_FORMAT }}</mat-cell>
                </section>

                <section *ngIf="column.typeColumn === 'enumString'">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-list>
                            <mat-list-item>
                                <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-form-field>
                                    <mat-select [(value)]="enumFilterModel[column.displayedColumn].value" (selectionChange)="applyFilter(column.displayedColumn, $event.value, column.typeColumn)">
                                        <mat-option *ngFor="let select of enumFilterModel[column.displayedColumn].list" [value]="select">{{select}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) }} </mat-cell>
                </section>

                <section *ngIf="column.typeColumn === 'text'">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-list>
                            <mat-list-item>
                                <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-form-field>
                                    <mat-icon matPrefix [inline]="true">search</mat-icon>
                                    <input class="filter-input" matInput [ngModel]="textFilterModel[column.displayedColumn]" (keyup.enter)="applyFilter(column.displayedColumn, $event.target.value, column.typeColumn)" placeholder="{{ column.headerColumn | translate }}"/>
<!--                                    <input class="filter-input" matInput (keyup.enter)="applyFilter(column.displayedColumn, $event.target.value, column.typeColumn)" placeholder="{{ column.headerColumn | translate }}"/>-->
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) }} </mat-cell>
                </section>

                <section *ngIf="column.typeColumn === 'enumInfo'">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-list>
                            <mat-list-item>
                                <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-form-field>
                                    <mat-select [(value)]="enumFilterModel[column.displayedColumn].value" (selectionChange)="applyFilter(column.displayedColumn, $event.value, column.typeColumn)">
                                        <mat-option *ngFor="let select of enumFilterModel[column.displayedColumn].list" [value]="select">{{select.viewName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) }} </mat-cell>
                </section>

            </ng-container>

            <mat-header-row *matHeaderRowDef="selectedDisplayedColumns"></mat-header-row>
            <mat-row tabindex="0" *matRowDef="let row; index as i; columns: selectedDisplayedColumns" (keyup.enter)="onRowClicked(row)" (click)="onRowClicked(row)" [ngStyle]="{ backgroundColor : row.id === lastVisitedId ? LAST_ACTIVE_MAT_ROW : 'inherit !important' }"></mat-row>
        </mat-table>

    </mat-card-content>
    <mat-card-actions>
        <mat-grid-list [cols]="breakpointCols" rowHeight="70px" (window:resize)="onResize($event)">
            <mat-grid-tile [colspan]="breakpointColspan" [rowspan]="1">
                <mat-form-field>
                    <mat-label>{{ 'column.hide' | translate }}</mat-label>
                    <mat-select (selectionChange)="showHideColumns($event.value)" multiple>
                        <mat-option *ngFor="let col of allDisplayedColumnsData" [value]="col.columnName">{{ col.columnBundle | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-mini-fab color="primary" (click)="clear()" title="{{ 'pagination.clear' | translate }}" aria-label="Clear">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-mini-fab color="primary" (click)="refresh()" title="{{ 'refresh' | translate }}" aria-label="Refresh">
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="breakpointColspan" [rowspan]="1">
                <mat-paginator [length]="dataSource.getTotalElements() | async" [pageSize]="paginator.pageSize" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>
</mat-card>
