<mat-card class="mb-20">
  <mat-card-title>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex fxLayoutAlign.xs="center">
        {{ header | translate}}
      </div>
      <div fxFlex fxLayoutAlign="end" fxLayoutAlign.xs="center">
        <div class="delis-button-row vertical-align-center">
          <button mat-mini-fab color="primary" (click)="back()" title="{{ 'back' | translate }}" aria-label="Back">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="refresh()" title="{{ 'refresh' | translate }}" aria-label="Refresh">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="clear()" title="{{ 'pagination.clear' | translate }}" aria-label="Clear">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="gotoBottom()" title="{{ 'down' | translate }}" aria-label="Page Down">
            <mat-icon class="rotate-180">navigation</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-title>
</mat-card>

<div class="mb-80">
  <mat-card>

    <mat-card-content class="responsive-table">
      <mat-table [dataSource]="dataSource"
                 matSort
                 matSortActive="{{ sort.active }}"
                 matSortDirection="{{ sort.direction }}"
                 (matSortChange)="handleSortChange($event)"
                 matSortDisableClear>

        <ng-container *ngFor="let column of delisDataTableColumnModel" matColumnDef="{{ column.displayedColumn }}">

          <section *ngIf="column.typeColumn === 'date'">
            <mat-header-cell *matHeaderCellDef>
              <mat-list>
                <mat-list-item>
                  <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                </mat-list-item>
                <mat-list-item>
                  <app-date-range [range]="filter.dateRange"></app-date-range>
                </mat-list-item>
              </mat-list>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) | date: SHOW_DATE_FORMAT }}</mat-cell>
          </section>

          <section *ngIf="column.typeColumn === 'enumString'">
            <mat-header-cell *matHeaderCellDef>
              <mat-list>
                <mat-list-item>
                  <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <mat-select [(value)]="enumFilterModel[column.displayedColumn].value" (selectionChange)="applyFilter(column.displayedColumn, $event.value, column.typeColumn)">
                      <mat-option *ngFor="let select of enumFilterModel[column.displayedColumn].list" [value]="select">{{select}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) }} </mat-cell>
          </section>

          <section *ngIf="column.typeColumn === 'text'">
            <mat-header-cell *matHeaderCellDef>
              <mat-list>
                <mat-list-item>
                  <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <mat-icon matPrefix [inline]="true">search</mat-icon>
                    <input class="filter-input" matInput [(ngModel)]="textFilterModel[column.displayedColumn]" (keyup.enter)="applyFilter(column.displayedColumn, $event.target.value, column.typeColumn)" placeholder="{{ column.headerColumn | translate }}"/>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) }} </mat-cell>
          </section>

          <section *ngIf="column.typeColumn === 'enumInfo'">
            <mat-header-cell *matHeaderCellDef>
              <mat-list>
                <mat-list-item>
                  <strong mat-sort-header> {{ column.headerColumn | translate }} </strong>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <mat-select [(value)]="enumFilterModel[column.displayedColumn].value" (selectionChange)="applyFilter(column.displayedColumn, $event.value, column.typeColumn)">
                      <mat-option *ngFor="let select of enumFilterModel[column.displayedColumn].list" [value]="select">{{select.viewName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
            </mat-header-cell>
            <div *ngIf="column.displayedColumn === 'documentStatus'; else elseBlock">
              <mat-cell *matCellDef="let row" class="ptr">
                <div *ngIf="statusErrors.indexOf(column.cell(row)) >= 0; else elseSuccessBlock" class="system-color-error">
                  {{ column.cell(row) }}
                </div>
                <ng-template #elseSuccessBlock>
                  {{ column.cell(row) }}
                </ng-template>
              </mat-cell>
            </div>
            <ng-template #elseBlock>
              <mat-cell *matCellDef="let row" class="ptr">{{ column.cell(row) }}</mat-cell>
            </ng-template>
          </section>

        </ng-container>

        <mat-header-row *matHeaderRowDef="selectedDisplayedColumns"></mat-header-row>
        <mat-row matRipple
          tabindex="0"
          *matRowDef="let row; index as i; columns: selectedDisplayedColumns"
          (keyup.enter)="onRowClicked(row)"
          (click)="onRowClicked(row)"
          [ngStyle]="{ backgroundColor : row.id === lastVisitedId ? LAST_ACTIVE_MAT_ROW : 'inherit !important' }">
        </mat-row>
      </mat-table>
    </mat-card-content>

    <mat-card-actions>
      <mat-paginator
        [length]="dataSource.getTotalElements() | async"
        [pageSize]="paginator.pageSize"
        [pageSizeOptions]="[10, 25, 50, 100]"
        [showFirstLastButtons]="true"></mat-paginator>
    </mat-card-actions>

    <!--    <mat-card-actions>-->
    <!--        <mat-grid-list [cols]="breakpointCols" rowHeight="70px" (window:resize)="onResize($event)">-->
    <!--            <mat-grid-tile [colspan]="breakpointColspan" [rowspan]="1">-->
    <!--                <mat-form-field>-->
    <!--                    <mat-label>{{ 'column.hide' | translate }}</mat-label>-->
    <!--                    <mat-select (selectionChange)="showHideColumns($event.value)" multiple>-->
    <!--                        <mat-option *ngFor="let col of allDisplayedColumnsData" [value]="col.columnName">{{ col.columnBundle | translate }}</mat-option>-->
    <!--                    </mat-select>-->
    <!--                </mat-form-field>-->
    <!--            </mat-grid-tile>-->
    <!--            <mat-grid-tile [colspan]="1" [rowspan]="1">-->
    <!--                <button mat-mini-fab color="primary" (click)="clear()" title="{{ 'pagination.clear' | translate }}" aria-label="Clear">-->
    <!--                    <mat-icon>autorenew</mat-icon>-->
    <!--                </button>-->
    <!--            </mat-grid-tile>-->
    <!--            <mat-grid-tile [colspan]="1" [rowspan]="1">-->
    <!--                <button mat-mini-fab color="primary" (click)="refresh()" title="{{ 'refresh' | translate }}" aria-label="Refresh">-->
    <!--                    <mat-icon>refresh</mat-icon>-->
    <!--                </button>-->
    <!--            </mat-grid-tile>-->
    <!--            <mat-grid-tile [colspan]="breakpointColspan" [rowspan]="1">-->
    <!--                <mat-paginator [length]="dataSource.getTotalElements() | async" [pageSize]="paginator.pageSize" [pageSizeOptions]="[1, 5, 10, 25, 50, 100]"></mat-paginator>-->
    <!--            </mat-grid-tile>-->
    <!--        </mat-grid-list>-->
    <!--    </mat-card-actions>-->

  </mat-card>

  <mat-progress-bar color="primary" mode="buffer" *ngIf="dataSource.getLoading() | async"></mat-progress-bar>
</div>

<div fxLayoutAlign="end" fxLayoutAlign.xs="center">
  <div class="delis-button-row delis-button-row-footer" *ngIf="isShowFooter">
    <button mat-mini-fab color="primary" (click)="back()" title="{{ 'back' | translate }}" aria-label="Back">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="refresh()" title="{{ 'refresh' | translate }}" aria-label="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="clear()" title="{{ 'pagination.clear' | translate }}" aria-label="Clear">
      <mat-icon>autorenew</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="gotoTop()" title="{{ 'up' | translate }}" aria-label="Page Up">
      <mat-icon>navigation</mat-icon>
    </button>
  </div>
</div>
