<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Create new Access Point
		</div>
		<div class="card-body">

			<form method="post" action="#" th:action="@{/accesspoint/create}" th:object="${accessPoint}">

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">URL</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{url}" placeholder="Url"
							   class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Type</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{type}"
							   placeholder="Type" class="form-control" />
					</div>
				</div>


				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Certificate</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{certificate}"
							   placeholder="Certificate" class="form-control" />
					</div>
				</div>

				<input type="hidden" th:field="*{id}" class="form-control" th:value="${accessPoint.id}"/>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>

		</div>
		
	</div>
</body>
</html>