<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-primary">
		<div class="card-header bg-primary text-white">
			Access Points
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>id</th>
					<th>url</th>
					<th>type</th>
					<th>certificate</th>
					<th>service description</th>
					<th>technical contact url</th>
					<th>update</th>
					<th>delete</th>
				</tr>
				<tr th:each="accessPoint,iter : ${accessPointList}">
					<td th:text="${accessPoint.id}"></td>
					<td th:text="${accessPoint.url}"></td>
					<td th:text="${accessPoint.type}"></td>
					<td th:text="${accessPoint.certificate}"></td>
					<td th:text="${accessPoint.serviceDescription}"></td>
					<td th:text="${accessPoint.technicalContactUrl}"></td>
					<td><a href="#" th:href="@{|/accesspoint/update/${accessPoint.id}|}" th:text="update"></a></td>
					<td><a href="#" th:href="@{|/accesspoint/delete/${accessPoint.id}|}" th:text="delete"></a></td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{|/accesspoint/create/0|}" class="btn btn-primary">Create new</a>
		</div>
		
	</div>
</body>
</html>