<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
	<div class="card border-secondary">
		<div class="card-header">
			Access Points
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered table-sm">
				<tr>
					<th>URL</th>
					<th>Type</th>
					<th>Certificate</th>
					<th>Service description</th>
					<th>Technical contact url</th>
					<th>update</th>
					<th>delete</th>
				</tr>
				<tr th:each="accessPoint,iter : ${accessPointList}">
					<td th:text="${accessPoint.url}"></td>
					<td th:text="${accessPoint.type}"></td>
					<td th:text="${accessPoint.certificate}"></td>
					<td th:text="${accessPoint.serviceDescription}"></td>
					<td th:text="${accessPoint.technicalContactUrl}"></td>
					<td><a href="#" th:href="@{|/accesspoint/update/${accessPoint.id}|}" th:text="Update"></a></td>
					<td><a href="#" th:href="@{|/accesspoint/delete/${accessPoint.id}|}" onclick="return confirm('Are you sure that you want to delete this access point?')" th:text="Delete"></a></td>
				</tr>
			</table>
		</div>
		<div class="card-footer">
			<a href="#" th:href="@{/accesspoint/create}" class="btn btn-primary">Create new</a>
		</div>
		
	</div>
</body>
</html>