<!doctype html>
<html th:fragment="layout (template)" th:with="customTitle=${customTitle} ?: ''" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
    <meta name="context-path" th:content="${#request.contextPath}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{/image/logo.png}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


	<title th:text="${#strings.isEmpty(customTitle)? 'DELIS Validator' : customTitle}">DELIS Validator</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
<header class="navbar navbar-expand navbar-light">
 <a class="navbar-brand" th:href="@{/validate}">DELIS Validator</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${loggedIn}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/organisation/list}">Organisations</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/document/list}">Received docs</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/document/send/list}">Sent docs</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/errordict/list}" th:if="${admin}">Errors</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/validate/index}" th:if="${admin}">Validate</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/identifier/list}">Identifiers</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/task/index}" th:if="${admin}">Tasks</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/setup/index}" th:if="${admin}">Setup</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/accesspoint/list}" th:if="${admin}">Access Points</a></li>
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/user/list}" th:if="${admin}">Users</a></li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/swagger-ui.html}" target="_blank" th:if="${admin}">Swagger</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" th:href="@{/user/view/__${currentUserId}__}">View</a>
          <a class="dropdown-item" href="#" th:href="@{/user/password}">Change password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
        </div>
      </li>      
      <li class="nav-item"><a class="nav-link" href="#" th:href="@{/logout}">Logout</a></li>
     </ul>
  </div>
</header>

<div th:if="${message}" class="alert alert-primary" role="alert">
	<span th:text="${message}">message text</span>
</div>
<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
	<span th:text="${errorMessage}">message text</span>
</div>

 <th:block th:include="${template}"/>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
