<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="invoiceResponse">

<th:block th:replace="~{/document/ir/ir_scripts}"/>

<div>
	<div>
		<button class="m-2 btn btn-primary btn-sm" onclick="$('#invoiceResponseForm').toggle()">New Invoice Response 3.0 via Form</button>
		<form th:action="@{/document/generate/invoiceResponseByErrorAndSend/__${document.id}__}" method="post" style="display: inline">
			<button class="m-2 btn btn-primary btn-sm" type="submit">Generate Invoice Response 3.0 by last error and send</button>
		</form>
	</div>
	
	<div class="card border-danger" th:if="${invoiceResponseErrorList}">
		<div class="card-body">
			<div class="card-title alert alert-danger">
				<span th:text="${errorMessage}">3</span>
			</div>
			<table class="table table-sm">
				<tr>
					<th>Flag</th>
					<th>Code</th>
					<th>Location</th>
					<th>Message</th>
				</tr>
				<tr th:each="e : ${invoiceResponseErrorList}">
					<td th:text="${e.flag}"></td>
					<td th:text="${e.code}"></td>
					<td th:text="${e.location}"></td>
					<td th:text="${e.message}"></td>
				</tr>
			</table>
		</div>
	</div>

<div class="card border-secondary m-1 mb-3" th:classappend="${invoiceResponseErrorList}?'':'collapsed'" id="invoiceResponseForm">
		
<div class="card-body pb-1 invoice-response">

	<form method="post" action="#" th:action="@{/document/generate/invoiceResponse}" th:object="${irForm}">
		<input type="hidden" name="id" class="form-control" th:field="*{documentId}"/>
		
		<div class="row mb-3">
			<h2 class="col-5">Invoice Response BIS 3.0</h2>
			<div class="col-7">
				<small class="form-text text-muted"> See <a href="http://docs.peppol.eu/poacc/upgrade-3/profiles/63-invoiceresponse/" target="_blank">PEPPOL BIS Invoice Response 3.0 documentation</a> for details</small>						
			</div>
		</div>
		

		<div th:replace="~{/document/ir/ir_layout::dynamicSelect('ucl', 'Use case', 'useCaseList', 'usecase', ~{::section#ucl})}">
			<section id="ucl">See <a href="https://github.com/OpenPEPPOL/poacc-upgrade-3/tree/master/rules/examples/Invoice%20reponse%20use%20cases" target="_blank">
				Invoice Response use cases</a> for details
			</section>
		</div>
			
		<div th:replace="~{/document/ir/ir_layout::dynamicSelect('irs', 'Status', 'invoiceStatusCodeList', 'status', ~{::section#irs})}">
			<section id="irs">
				<div class="font-italic">//DocumentResponse/Response/ResponseCode</div>
				See <a href="http://docs.peppol.eu/poacc/upgrade-3/codelist/UNCL4343-T111/" target="_blank">
				Invoice status code (UNCL4343 Subset)</a> for details
			</section>
		</div>
		
		<div th:replace="~{/document/ir/ir_layout::dynamicSelect('sca', 'Action code', 'statusActionList', 'action', ~{::section#sca})}">
			<section id="sca">
				<div class="font-italic">//DocumentResponse/Response/Status/StatusReasonCode[listID="OPStatusAction"]</div>
				See <a href="http://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusAction/" target="_blank">
				Status Clarification Action (OpenPEPPOL)</a> for details
			</section>
		</div>
		
		<div th:replace="~{/document/ir/ir_layout::dynamicSelect('scr', 'Reason code', 'statusReasonList', 'reason', ~{::section#scr})}">
			<section id="scr">
				<div class="font-italic">//DocumentResponse/Response/Status/StatusReasonCode[listID="OPStatusReason"]</div>
				See <a href="http://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusReason/" target="_blank">
				Status Clarification Reason (OpenPEPPOL)</a> for details
			</section>
		</div>

		<div class="row">
			<div class="form-group col-5">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Reason text</span>
					</div>
					<input th:field="*{statusReasonText}" type="text" class="form-control"/>
				</div>
			</div>
			<div class="col-7">
				<div class="font-italic"><small class="form-text text-muted">//DocumentResponse/Response/Status/StatusReason</small></div>
			</div>
		</div>			
				
		<div class="row mb-2">
			<div class="form-group col-5">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Detail type</span>
					</div>
					<input th:field="*{detailType}" type="text" name="invoiceResponseDetailTypeCode" class="form-control"/>
				</div>
			</div>
			<div class="col-7">
				<small class="form-text text-muted">
				<span class="font-italic display-block">//DocumentResponse/Response/Status/Condition/AttributeID</span>
				E.g. BT-48</small>
			</div>							
		</div>
		<div class="row">
			<div class="form-group col-5">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Detail value</span>
					</div>
					<input th:field="*{detailValue}" type="text" name="invoiceResponseDetailValue" class="form-control"/>
				</div>
			</div>
			<div class="col-7">
				<small class="form-text text-muted">
				<div class="font-italic">//DocumentResponse/Response/Status/Condition/Description</div>
				E.g. EU12345</small>
			</div>
		</div>
		
		<h5>Options</h5>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text delis-input-checkbox">
						<input id="validateCheckbox" th:field="*{validate}" type="checkbox" aria-label="Validate generated"/>
					</div>
				</div>
				<label for="validateCheckbox" class="form-control">Validate generated</label>
			</div>
		</div>
		
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text delis-input-checkbox">
						<input id="generateWithoutSending" th:field="*{generateWithoutSending}" type="checkbox" aria-label="Only generate, do not send"/>
					</div>
				</div>
				<label for="generateWithoutSending" class="form-control">Only generate, do not send</label>
			</div>
		</div>

		<button type="submit" class="m-2 btn btn-primary btn-sm">Generate</button>
	</form>
</div>

</div>
</div>

</html>