<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="ir_scripts">

<script>

var checkboxControlMap = {};
checkboxControlMap['actionEnabled1'] = 'sca';
checkboxControlMap['action2Enabled1'] = 'sca2';
checkboxControlMap['reasonEnabled1'] = 'scr';
checkboxControlMap['effectiveDateEnabled1'] = 'red';

function checkboxChanged(t, doFocus) {
	var id = ($(t).attr('id'));
	var checked = $(t).is(':checked');
	if (id in checkboxControlMap) {
		var selectId = checkboxControlMap[id];
		$('#'+selectId).prop('disabled', !checked);
		
		if (doFocus && checked) {
			$('#'+selectId).focus();
		}
	}
}

function selectChanged(t) {
	var id = ($(t).attr('id'));
	var code = $(t).val();
	var selectedOption = $(t).find("option:selected");
	var optionTitle = selectedOption.attr('title');
	var helpText = "";
	if (optionTitle) {
		helpText = selectedOption.attr('value')+": " + optionTitle;
	}
	$('#'+id+'Desc').text(helpText);
}
function initSelect(id) {
	var jQuerySelector = '#'+id;
	selectChanged(jQuerySelector);
}

var useCaseReset = {'irs': 'AB', 'scr': 'NON', 'reasonEnabled1': false, 'sca': 'NOA', 'actionEnabled1': false, 'sca2': 'NOA', 
		'action2Enabled1': false, 'detailType': '', 'detailValue': '', statusReasonText: '',
		'effectiveDateEnabled1': false,
		'type': 'AB',
		'description': ''
};
var useCaseConfig = {};
useCaseConfig['1'] = {'irs': 'IP'};
useCaseConfig['2a'] = {'irs': 'IP', 'actionEnabled1': true, 'sca': 'NOA', 'detailType': 'Buyer process reference', 'detailValue': 'X001', 'effectiveDateEnabled1': true};
useCaseConfig['2b'] = {'irs': 'IP', 'statusReasonText': 'Shipment has not yet been received. Invoice processing will be attempted later.', 'effectiveDateEnabled1': true};
useCaseConfig['3'] = {'irs': 'AP'};
useCaseConfig['4a'] = {'irs': 'RE','statusReasonText': 'A textual explanation for why the invoice is being rejected.'};
useCaseConfig['4b'] = {'irs': 'RE', 'reasonEnabled1': true, 'scr': 'REF', 'actionEnabled1': true, 'sca': 'NIN'};
useCaseConfig['4c'] = {'irs': 'RE', 'reasonEnabled1': true, 'scr': 'REF', 'actionEnabled1': true, 'sca': 'CNF', 'action2Enabled1': true, 'sca2': 'NIN'};
useCaseConfig['5'] = {'irs': 'CA', 'reasonEnabled1': true, 'scr': 'PAY', 'detailType': 'BT-9', 'detailValue': '2018-01-15'};
useCaseConfig['6a'] = {'irs': 'UQ', 'reasonEnabled1': true, 'scr': 'REF', 'detailType': 'BT-13', 'detailValue': 'PO0001', 'actionEnabled1': true, 'sca': 'PIN', 'effectiveDateEnabled1': true};
useCaseConfig['6b'] = {'irs': 'UQ', 'reasonEnabled1': true, 'scr': 'REF', 'detailType': 'BT-13', 'detailValue': 'PO0001', 'actionEnabled1': true, 'sca': 'PIN', 'effectiveDateEnabled1': true};
useCaseConfig['6c'] = {'irs': 'UQ', 'reasonEnabled1': true, 'scr': 'DEL', 'statusReasonText': 'Delivered quantity for line number 1 was 2 units but invoiced quantity is 5 units. Send credit note for 3 unit.', 'actionEnabled1': true, 'sca': 'CNP'};
useCaseConfig['7'] = {'irs': 'PD', 'effectiveDateEnabled1': true};
useCaseConfig['8'] = {'irs': 'AP'};

useCaseConfig['mlr1'] = {'art': 'AB'};
useCaseConfig['mlr2'] = {'art': 'RE', 'description':'Rejected due to validation errors'};
useCaseConfig['mlr3'] = {'art': 'RE', 'description':'Rejected due to validation errors'};

function applyConfig(caseConfig, markIsValid) {
	for (var key in caseConfig) {
		var evalue = caseConfig[key];
		var $e = $('#'+key);
		if ($e.is(':checkbox')) {
			$e.prop('checked', evalue);
			checkboxChanged($e);
		} else {
			$e.val(evalue);
			selectChanged($e);
			if (markIsValid) {
				$e.addClass('is-valid');
			} else {
				$e.removeClass('is-valid');
			}
		}
	}
	return true;
}

function useCaseListChanged(casePrefix, selectedCase){
	if (selectedCase == '') {
		return true;
	}
	var caseCode = casePrefix+selectedCase; 
	console.log(caseCode);
	applyConfig(useCaseReset, false);
	
	var caseConfig;
	if (caseCode in useCaseConfig) {
		caseConfig = useCaseConfig[caseCode];
	}
	if (caseConfig) {
		console.log('Found case config: ');
		console.log(caseConfig);
		applyConfig(caseConfig, true);
	} else {
		console.log('Case config for '+caseCode+' is not found');
	}
	return true;
}

$(document).ready(function () {
	$('#ucl').change(function(){useCaseListChanged('', $(this).val());});
	$('#mlrucl').change(function(){useCaseListChanged('mlr', $(this).val());});
	
	for (var k in checkboxControlMap) {
		checkboxChanged($('#'+k));						
	}	
});
</script>

<style>
.invoice-response .input-group-text {
	min-width: 100px;
}
.invoice-response .input-group-text.delis-input-checkbox {
	min-width: 0px;
}
</style>	

</html>
